<%- include('header1') %>

<!-- main content start-->
<div id="page-wrapper">

    <div class="blank-page widget-shadow scroll">
        <h2 style="text-align: center">
            <b>Edit SSIT Team <% if (team.TeamName != null){%><%= team.TeamName %><% } %></b></h2>
        <div class="row">
            <br>
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="selector1" class="col-sm-2 control-label">Project / Client</label>
                    <div class="col-sm-8">
                        <p><b>
                                <% if (team.ProposalID != undefined){ %>
                                <%= team.ProposalID.Topic + ' / ' + '     ' + team.ProposalID.ClientID.Name %>
                                <% }else{ %>
                                    Project Unallocated
                                <% } %>
                            </b>
                        </p>

                    </div>
                </div>
                <div class="form-group">
                    <label for="selector2" class="col-sm-2 control-label">Supervisor</label>
                    <div class="col-sm-8">
                        <select name="selector2" id="selector2" class="form-control-project">
                            <option value="None2">None</option>
                            <% for (let i = 0; i < allStaff.length; i++){ %>
                                <option value= "<%= allStaff[i]._id %>"
                                <% if ((team.StaffID !== undefined) && (allStaff[i]._id.equals(team.StaffID._id))) { %>
                                    selected
                                <% } %>
                                >
                                <%= allStaff[i].Name %>
                            </option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <% for (var i = 0; i < 6 ; i++) { %>
                    <div class="form-group">
                        <label for="selector<%= i + 3 %>" class="col-sm-2 control-label">Student <%= i+1 %></label>
                        <div class="col-sm-8">
                            <select name="selector<%= i + 3 %>" id="selector<% i+3 %>" class="form-control-project">
                                <option value="None<% i + 3%>">None</option>
                                <% for (let j = 0; j < allStudent.length; j++){ %>
                                <% if ((allStudent[j].GroupID == undefined) | ((i < team.StudentID.length) && (allStudent[j]['_id'].equals(team.StudentID[i]._id)))) { %>
                                <option value="<%= allStudent[j]._id %>"
                                <% if ((i < team.StudentID.length) && (allStudent[j]['_id'].equals(team.StudentID[i]._id))) { %>
                                        selected
                                        <% } %>
                                ><%= allStudent[j].Name + " (" + allStudent[j].UserName + ')' %></option>
                                <% } %>
                                <% } %>
                            </select>
                        </div>
                    </div>
                <% } %>
            </form>
            <div style="text-align: center">
                <button onclick="editTeam()" type="button" class="btn btn-primary">SUBMIT</button>
            </div>
        </div>
    </div>
</div>

<%- include('component/footer_script') %>

<script>
    function editTeam() {
        let temp = document.createElement("form");
        temp.action = '/admin/submit_editteam';
        temp.method = 'post';
        temp.style.display = "none";
        let inputElement1 = document.createElement("select")
        inputElement1.type = 'hidden';
        inputElement1.name = 'selector2';
        inputElement1.value = document.getElementById('selector2').value;
        console.log(inputElement1.value);
        let inputElement2 = document.createElement("select")
        // inputElement2.type = 'hidden';
        for (var i = 0; i < 6; i++) {
            inputElement2.name = 'selector<% i + 3 %>';
            inputElement2.value = document.getElementById('selector<% i + 3 %>').value;
        }
        temp.appendChild(inputElement1);
        temp.appendChild(inputElement2);
        document.body.appendChild(temp);
        temp.submit();
        return temp;
    }
</script>
<%- include('component/footer') %>
