<%- include('header1') %>
<!-- main content start-->
<div id="page-wrapper">
    <h2 class="title1">Create a new team</h2>
    <div class="blank-page widget-shadow scroll">
        <h2 style="text-align: center"><b>Create SSIT Team <%= allTeam.length + 1 %></b></h2>
        <div class="row">
            <br>
            <form class="form-horizontal">
                <div class="form-group">

                </div>
                <div class="form-group">
                    <label for="selector2" class="col-sm-2 control-label">Supervisor</label>
                    <div class="col-sm-8">
                        <select name="selector2" id="selector2" class="form-control-project">
                            <option value="None2">None</option>
                            <% for (let i = 0; i < allStaff.length; i++){ %>
                                <option value="selector2"><%= allStaff[i].Name %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <% for (var i = 0; i < 6 ; i++) { %>
                    <div class="form-group">
                        <label for="selector<%= i + 3 %>" class="col-sm-2 control-label">Student <%= i + 1 %></label>
                        <div class="col-sm-8">
                            <select name="selector<% i + 3 %>" id="selector<% i + 3 %>" class="form-control-project">
                                <option value="None<%i+3%>">None</option>
                                <% for (let j = 0; j < allStudent.length; j++){ %>
                                    <% if (allStudent[j].GroupID != undefined) { %>
                                        <optgroup
                                                label="<%= allStudent[j].Name + ' (' + allStudent[j].UserName + ')' %>"></optgroup>
                                    <% } else { %>
                                        <option value="<%= allStudent[j]._id %>"><%= allStudent[j].Name + ' (' + allStudent[j].UserName + ')' %></option>
                                <% } } %>
                            </select>
                        </div>
                    </div>
                <% } %>

            </form>
            <div style="text-align: center">
                <button type="button" class="btn btn-primary" onclick="newTeam()">SUBMIT</button>
            </div>
        </div>
    </div>
</div>
<%- include('component/footer_script') %>

<script>
    function newTeam() {
        let temp = document.createElement("form");
        temp.action = '/admin/submit_newteam';
        temp.method = 'post';
        temp.style.display = "none";
        let inputElement1 = document.createElement("select")
        inputElement1.type = 'hidden';
        inputElement1.name = 'selector2';
        inputElement1.value = document.getElementById('selector2').value;

        for (var i = 0; i < 6; i++) {
            let inputElement<%i%> = document.createElement("select")
            inputElement<%i%>.type = 'hidden';
            inputElement<%i%>.name = 'selector<% i + 3 %>';
            inputElement<%i%>.value = document.getElementById('selector<% i + 3 %>').value;
            temp.appendChild(inputElement<% i %>);

        }
        temp.appendChild(inputElement1);
        document.body.appendChild(temp);
        temp.submit();
        return temp;

    }
</script>
<%- include('component/footer') %>
