<%- include('header') %>

<!-- main content start-->
<div id="page-wrapper">
    <h2 class="title1">Project </h2>
    <div class="blank-page widget-shadow scroll">
        <h2><%=proposal.Topic%><span class="label label-warning"
                                     style="float:right;font-size:15px">pending</span>
        </h2>
        <br>
        <p><b>Client:</b> <%=' ' + proposal.ClientID.Name%></p>
        <br>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Detail / content / Description</h3>
            </div>
            <div class="panel-body">
                <%=proposal.Content%>
            </div>
        </div>
        <table width="100%">
            <tr>
                <td width="95%">
                    <a href="/admin/edit_project?id=<%=proposal._id%>">
                        <button type="button" class="btn btn-primary" style="margin-right:1%;float: right">Edit</button>
                    </a>
                </td>
                <td>
                    <a href="/admin/pending_approved?id=<%=proposal._id%>">
                    <button type="button" class="btn btn-success" data-dismiss="modal" style="margin-right:3.5%;float: right">Approved
                    </button>
                    </a>
                </td>
                <td>
                    <a href="/admin/pending_rejected?id=<%=proposal._id%>">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" style="float: right">rejected
                    </button>
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <br>
    <div class="blank-page widget-shadow scroll">
        <h3 style="color: #629aa9"><b>Client related projects</b></h3>
        <% let j = 1; %>
        <% if (proposal.ClientID.AllProposalID.length <= 1) { %>
            <br>
            <div class="alert alert-danger" role="alert">This client has no related project.</div>
        <% } else { %>
            <div class="bs-example widget-shadow" data-example-id="contextual-table">
                <table class="table">
                    <tbody>
                    <% for (let i = 0; i < proposal.ClientID.AllProposalID.length; i++) { %>
                        <% if (!proposal._id.equals(proposal.ClientID.AllProposalID[i]._id)) { %>
                            <% if (proposal.ClientID.AllProposalID[i].Status == 'approved') { %>
                                <tr class="active" onclick="window.location.href='/admin/project_approved?id=<%= proposal.ClientID.AllProposalID[i]._id %>'">
                                    <th scope="row"><%= j %></th>
                                    <td style="cursor:pointer" width="40%"><b><%= proposal.ClientID.AllProposalID[i].Topic %></b></td>
                                    <td style="cursor: pointer" width="50%"><%= 'Client name: ' + proposal.ClientID.Name %></td>
                                    <% if (proposal.ClientID.AllProposalID[i].GroupID.length > 0) { %>
                                        <td width="5%"><span class="label label-success" style="float:right;font-size:15px"><%= proposal.ClientID.AllProposalID[i].GroupID.length + ' Team '%>Allocated</span>
                                        </td>
                                        <td width="5%"><span class="label label-success"
                                                             style="float:right;font-size:15px">Approved</span></td>
                                    <% } else { %>
                                        <td width="5%"><span class="label label-success" style="float:right;font-size:15px"></span>
                                        </td>
                                        <td width="5%"><span class="label label-success"
                                                             style="float:right;font-size:15px">Approved</span></td></tr>
                                <% } %>
                            <% } else if (proposal.ClientID.AllProposalID[i].Status == 'pending') { %>
                                <tr class="active" onclick="window.location.href='/admin/project_pending?id=<%= proposal.ClientID.AllProposalID[i]._id %>'">
                                    <th scope="row"><%= j %></th>
                                    <td style="cursor:pointer" width="40%"><b><%= proposal.ClientID.AllProposalID[i].Topic %></b></td>
                                    <td style="cursor: pointer" width="50%"><%= 'Client name: ' + proposal.ClientID.Name %></td>
                                    <td width="5%"><span class="label label-warning" style="float:right;font-size:15px"></span>
                                    </td>
                                    <td width="5%"><span class="label label-warning"
                                                         style="float:right;font-size:15px">Pending</span></td></tr>
                            <% } else if (proposal.ClientID.AllProposalID[i].Status == 'rejected') { %>
                                <tr class="active" onclick="window.location.href='/admin/project_rejected?id=<%= proposal.ClientID.AllProposalID[i]._id %>'">
                                    <th scope="row"><%= j %></th>
                                    <td style="cursor:pointer" width="40%"><b><%= proposal.ClientID.AllProposalID[i].Topic %></b></td>
                                    <td style="cursor: pointer" width="50%"><%= 'Client name: ' + proposal.ClientID.Name %></td>
                                    <td width="5%"><span class="label label-danger" style="float:right;font-size:15px"></span>
                                    </td>
                                    <td width="5%"><span class="label label-danger"
                                                         style="float:right;font-size:15px">Rejected</span></td></tr>
                            <% } %>
                            </tr>
                            <% j++; %>
                        <% } %>
                    <% } %>

                    </tbody>
                </table>
            </div>
        <% } %>
    </div>
    <br>
    <div class="blank-page widget-shadow scroll">
        <h2 class="title1"><b>Comments</b></h2>
        <% if(proposal.Reply.length!=0){%>
        <div class="bs-example widget-shadow" data-example-id="contextual-table" style="overflow-y:auto;">
            <table class="table" style="margin-bottom: 0px">
                <tbody>
                <%for(let i = 0; i < proposal.Reply.length; i++) {%>
                    <% if ((i%2) == 1) { %>
                    <tr>
                        <td width="15%"><b><%=proposal.Reply[i].Author+':'%></b></td>
                        <td width="75%"><%=proposal.Reply[i].Comment%></td>
                        <td width="15%"><%=proposal.Reply[i].ReplyDate.toISOString().replace(/T.*/,' ')+proposal.Reply[i].ReplyDate.toLocaleTimeString().replace(/ G.*/,"")%></td>
                    </tr>
                    <% } else {%>
                    <tr class="active">
                        <td width="15%" scope="row"><b><%=proposal.Reply[i].Author+':'%></b></td>
                        <td width="75%"><b><%=proposal.Reply[i].Comment%></b></td>
                        <td width="15%"><%=proposal.Reply[i].ReplyDate.toISOString().replace(/T.*/,' ')+proposal.Reply[i].ReplyDate.toLocaleTimeString().replace(/ G.*/,"")%></td>
                    </tr>
                    <%}}%>
                </tbody>
            </table>
        </div>
        <% } else{%>
            <div class="alert alert-danger" role="alert">No comment yet!</div>
        <%}%>
        <br>


        <div class="row">
            <br>
            <form class="form-horizontal" method="post">
                <div class="form-group">
                    <label for="project_name" class="col-sm-2 control-label">Make a comment</label>
                    <div class="col-sm-8">
                        <textarea id="project_name" rows="6" class="form-control form-control" name="comment"></textarea>
                    </div>
                </div>

            <div style="text-align: center">
                    <button type="submit" class="btn btn-primary">SUBMIT</button>
            </div>
            </form>
        </div>
    </div>
</div>

<%- include('component/footer_script')%>
<%- include('component/footer') %>
