<%- include('header') %>
<!-- main content start-->
<div id="page-wrapper">
    <div class="typography">
        <div class="main-page">
            <div>
                <table width="100%">
                    <tr>
                        <td width="75%"><h2 style="color:#629aa9">Student list</h2></td>
                        <td width="10%"><input id="search" type="search" placeholder="<%= searchCondition %>" onfocus="this.placeholder=''" onblur="this.placeholder='...'"></td>
                        <td width="10%">
                            <button onclick="getSearchPage()" type="button" class="btn btn-primary">search</button>
                        </td>
                        <td style="float: right">
                            <button onclick="{ location.href='./student_list'}" type="button" class="btn btn-danger">clean</button>
                        </td>
                    </tr>
                </table>
            </div>
            <br/>
            <div class="blank-page widget-shadow scroll">
                <table width="100%">
                    <tr>
                        <td>
                            <h2><b>Add a student</b></h2>
                            <p>Click button to add students.</p>
                        </td>

                        <td width="10%">
                            <button data-toggle="modal" data-target="#add_new_student" data-whatever="@AddNewStudent"
                                    class="btn btn-primary" style="float:right;">addstudent
                            </button>
                            <div class="modal fade" id="add_new_student" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h3 class="modal-title" id="exampleModalLabel">addstudent</h3>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group" style="align-items: center">
                                                <h4>student's name:</h4>
                                                <br>
                                                <input class="form-control" id="addStudentName" style="width: 100%">

                                            </div>
                                            <div class="form-group" style="align-items: center">
                                                <h4>student's username(should be a E-mail format):</h4>
                                                <br>
                                                <input class="form-control" id="addStudentUserName" style="width: 100%">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" onclick="addNewStudent()">
                                                Set
                                            </button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                                Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <ul id="list">
                <div class="blank-page widget-shadow" data-example-id="contextual-table" style="margin-top:10px">
                    <div class="table" width="100%">
                        <table width="100%" class="table">
                            <thead style=" width: calc( 100% - 1em )">
                            <tr style="display: table;width: 100%;table-layout: fixed;">
                                <h3><b>Allocated students</b></h3>
                            </tr>
                            <br>
                            <tr style="display: table; width: calc( 100% - 1em );table-layout: fixed;">
                                <th>Name</th>
                                <th>E-mail</th>
                                <th>Group</th>
                                <th>Project</th>
                            </tr>
                            </thead>
                            <tbody style="display: block; height: 300px;overflow-y: scroll;">
                            <% for (var i = 0, j = 0; i < searchStudent.length ; i++) { %>
                                <% if (searchStudent[i].GroupID == undefined) { %>
                                <% }else{ %>
                                    <a href="/admin/student_detail?id=<%= searchStudent[i]._id %>">
                                        <tr style="cursor:pointer;display: table;width: 100%;table-layout: fixed;"
                                        <% if(j % 2 == 0) { %>
                                            <%= j++; %>
                                            class="active"
                                        <% }else { %>
                                            <%= j++; %>
                                                <% } %>
                                            onclick="window.location.href='/admin/student_detail?id=<%= searchStudent[i]._id %>'"
                                        >
                                            <td scope="row"><%= searchStudent[i].Name %></td>
                                            <td><%= searchStudent[i].UserName %></td>
                                            <td><%= searchStudent[i].GroupID.TeamName %></td>
                                            <td>
                                                <% if (searchStudent[i].GroupID.ProposalID != undefined) { %>
                                                    <%= searchStudent[i].GroupID.ProposalID.Topic %>
                                                <% } else { %>
                                                    None
                                                <% } %>
                                            </td>
                                        </tr>
                                    </a>
                                <% } %>
                            <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="blank-page widget-shadow" data-example-id="contextual-table" style="margin-top:10px">
                    <div class="table" width="100%">
                        <table width="100%" class="table">
                            <thead style=" width: calc( 100% - 1em )">
                            <tr style="display: table;width: 100%;table-layout: fixed;">
                                <h3><b>Unallocated students</b></h3>
                            </tr>
                            <br>
                            <tr style="display: table; width: calc( 100% - 1em );table-layout: fixed;">
                                <th>Name</th>
                                <th>E-mail</th>
                                <th>Group</th>
                                <th>Project</th>
                            </tr>
                            </thead>
                            <tbody style="display: block; height: 300px;overflow-y: scroll;">
                            <% for (var i = 0, j = 0; i < searchStudent.length ; i++) { %>
                                <% if (searchStudent[i].GroupID == undefined) { %>
                                    <tr style="cursor:pointer;display: table;width: 100%;table-layout: fixed;"
                                    <% if(j % 2 == 0) { %>
                                        <%= j++; %>;
                                        class="active"
                                    <% }else { %>
                                        <%= j++; %>;
                                            <% } %>
                                        onclick="window.location.href='/admin/student_detail?id=<%= searchStudent[i]._id %>'"
                                    >

                                        <td scope="row"><%= searchStudent[i].Name %></td>
                                        <td><%= searchStudent[i].UserName %></td>
                                        <td>None</td>
                                        <td>None</td>
                                    </tr>
                                <% }else{ %>
                                <% } %>
                            <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</div>

<%- include('component/footer_script') %>
<script>
    function addNewStudent() {
        const reg = /^([a-zA-Z0-9]+[_|\-|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\-|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/gi;
        if (document.getElementById('addStudentName').value == '') {
            alert("Please enter a name")
        } else if (document.getElementById('addStudentUserName').value == '') {
            alert("Please enter a username")
        } else if (!reg.test(document.getElementById('addStudentUserName').value)) {
            alert("Invalid username, should be an E-mail")
        } else {
            let temp = document.createElement("form");
            temp.action = '/admin/add_new_student';
            temp.method = 'post';
            temp.style.display = "none";
            let inputElement1 = document.createElement("input")
            inputElement1.type = 'hidden';
            inputElement1.name = 'addStudentName';
            inputElement1.value = document.getElementById('addStudentName').value;
            let inputElement2 = document.createElement("input")
            inputElement2.type = 'hidden';
            inputElement2.name = 'addStudentUserName';
            inputElement2.value = document.getElementById('addStudentUserName').value;
            temp.appendChild(inputElement1);
            temp.appendChild(inputElement2);
            document.body.appendChild(temp);
            temp.submit();
            return temp;
        }
    }
    function getSearchPage() {
        const search = document.getElementById('search').value;
        if (search == '') {
            alert('Please enter a keyword');
        } else {
            const inputElement = document.createElement("input");
            inputElement.type = 'hidden';
            inputElement.name = 'search';
            inputElement.value = search;

            const form = document.createElement("form");
            form.action = '/admin/search';
            form.method = 'post';
            form.style.display = "none";

            form.appendChild(inputElement);
            document.body.appendChild(form);
            form.submit();
            console.log('#######'+search)
            return form
        }
    }
</script>
<%- include('component/footer') %>
