<%- include('header') %>
<!-- main content start-->
<div id="page-wrapper">
    <!--auto grouping-->
    <div class="blank-page widget-shadow scroll">
        <table width="100%">
            <tr>
                <td>
                    <h2><b>Auto Grouping</b></h2>
                    <p>Click button to automatically group teams by students' preference.</p>
                </td>
                <td>
                    <button onclick="{ location.href='./team_list#jump'}" type="button" class="btn btn-primary"
                            style="float: right">Group
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <br>
    <div class="blank-page widget-shadow scroll">
        <table width="100%">
            <tr>
                <td>
                    <h2><b>Add A Staff</b></h2>
                    <p>Click button to add a staff.</p>
                </td>
                <td>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add_new_staff" data-whatever="@AddNewStaff"
                            style="float: right">add
                    </button>
                    <div class="modal fade" id="add_new_staff" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="exampleModalLabel">addstaff</h3>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group" style="align-items: center">
                                        <h4>Staff's name:</h4>
                                        <br>
                                        <input class="form-control" id="addStaffName" style="width: 100%">

                                    </div>
                                    <div class="form-group" style="align-items: center">
                                        <h4>Staff's username: (E-mail)</h4>
                                        <br>
                                        <input class="form-control" id="addStaffUserName" style="width: 100%">
                                    </div>
                                    <br>
                                    <p>Default password is the staff name!</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" onclick="addNewStaff()">
                                        Set
                                    </button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <br>
    <!--auto grouping-->
    <!--team list-->
    <div class="blank-page widget-shadow scroll">
        <table width="100%">
            <tr>
                <td><h2 id="jump"><b>Team List</b></h2></td>
                <td>
                    <button onclick="{ location.href='./new_team'}" type="button"
                            class="btn btn-primary btn-flat btn-pri" style="float: right"><i class="fa fa-plus"
                                                                                             aria-hidden="true"></i>Create
                    </button>
                </td>
            </tr>
        </table>

        <% for (var i = 0; i < allTeam.length ; i++) { %>
        <div class="grid_3 grid_5 widget-shadow">
            <a href="./edit_team?id=<%= allTeam[i]._id %>">
                <div>
                    <h3><b><%= 'SSIT Team' + allTeam[i].TeamName %></b>
                        <% if (allTeam[i].ProposalID == undefined) { %>
                            <span class="label label-danger" style="float:right;font-size:15px">Unallocated</span>

                        <% } else { %>
                            <span class="label label-success" style="float:right;font-size:15px">allocated</span>
                        <% } %>
                    </h3>
                </div>
                <div>
                    <table width="100%">
                        <tr>
                            <td width="95%">
                                <table width="100%" style="color: black">
                                    <tr>
                                        <th width="10%"><b>Project:</b></th>
                                        <td>
                                            <%if (allTeam[i].ProposalID == undefined) {%>
                                                None
                                            <% } else { %>
                                                <%=allTeam[i].ProposalID.Topic%>
                                            <% } %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><b>Supervisor:</b></th>
                                        <% if(allTeam[i].StaffID != undefined){ %>
                                        <td><%= allTeam[i].StaffID.Name%></td>
                                        <% } %>
                                    </tr>
                                    <tr>
                                        <th><b>Student:</b></th>
                                        <td><% if (allTeam[i].StudentID[0] != undefined){%>
                                            <%= allTeam[i].StudentID[0].Name %>
                                            <% } %>

                                        <% for (let j = 1; j < allTeam[i].StudentID.length; j++) { %>
                                                <%= ' / ' + allTeam[i].StudentID[j].Name %>
                                            <% } %>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td><i class="fa fa-angle-right" style="float:right;font-size:20px"></i></td>
                        </tr>

                    </table>
                </div>
            </a>
        </div>
        <% } %>
    </div>
</div>

<%- include('component/footer_script')%>

<script>
    function addNewStaff() {
        const reg=/^([a-zA-Z0-9]+[_|\-|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\-|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/gi;
        if (document.getElementById('addStaffName').value == '') {
            alert("Please enter a name")
        } else if (document.getElementById('addStaffUserName').value == '') {
            alert("Please enter a username")
        } else if (!reg.test(document.getElementById('addStaffUserName').value)) {
            alert("Invalid username, should be a E-mail")
        } else {
            let temp = document.createElement("form");
            temp.action = '/admin/add_new_staff';
            temp.method = 'post';
            temp.style.display = "none";
            let inputElement1 = document.createElement("input")
            inputElement1.type = 'hidden';
            inputElement1.name = 'addStaffName';
            inputElement1.value = document.getElementById('addStaffName').value;
            let inputElement2 = document.createElement("input")
            inputElement2.type = 'hidden';
            inputElement2.name = 'addStaffUserName';
            inputElement2.value = document.getElementById('addStaffUserName').value;
            temp.appendChild(inputElement1);
            temp.appendChild(inputElement2);
            document.body.appendChild(temp);
            temp.submit();
            return temp;
        }

    }
</script>

<%- include('component/footer') %>
