<% include ./header.ejs %>
<!-- main content start-->
<div id="page-wrapper">
    <div class="blank-page widget-shadow scroll">
        <h2 class="title1">Request</h2>
        <br>
        <div class="row">
            <table width="100%" frame=void rules=none>
                <tr>
                    <td width="100%">
                        <table width="100%" class="table">
                            <thead style=" width: calc( 100% - 1em)">
                            <tr style="display: table;width: calc(100% - 1em);table-layout: fixed;">
                                <th width="10%">role</th>
                                <th width="10%">name</th>
                                <th width="10%">meeting number</th>
                                <th width="10%">meeting team</th>
                                <th width="10%">orgianl time</th>
                                <th width="25%">request</th>
                                <th width="25%">comment</th>
                                <th width="5%"></th>
                                <th width="5%"></th>
                            </tr>
                            </thead>
                            <tbody style="display: block; height: 300px;overflow-y: scroll;">
                            <% let j = 0;%>
                            <% for (let i = 0; i < changeStaffMeetingRequest.length; i++){ %>
                                <% if ( changeStaffMeetingRequest[i].Status == 'pending' ){ %>
                                    <tr style="cursor:pointer;display: table;width: 100%;table-layout: fixed;"
                                    <% if(j % 2 == 0) { %>
                                        <%= j++; %>;
                                        class="active"
                                    <% }else { %>
                                        <%= j++; %>;
                                            <% } %>
                                    >
                                        <td scope="row" width="10%">Staff</td>
                                        <td width="10%"><%= changeStaffMeetingRequest[i].StaffID.Name %></td>
                                        <td width="10%"><%= changeStaffMeetingRequest[i].MeetingID.MeetingNumber %></td>
                                        <td width="10%"><%= changeStaffMeetingRequest[i].MeetingID.GroupID.TeamName %></td>
                                        <td width="10%"><%= changeStaffMeetingRequest[i].MeetingID.Date.toISOString().replace(/T.*/, ' ') + changeStaffMeetingRequest[i].MeetingID.Date.toLocaleTimeString().replace(/ G.*/, "") %></td>
                                        <td width="25%">
                                            <% if (changeStaffMeetingRequest[i].NewMeetingTime != undefined) {%>
                                                change time to <%= changeStaffMeetingRequest[i].RequestComment.Date.toISOString().replace(/T.*/, ' ') + changeStaffMeetingRequest[i].RequestComment.Date.toLocaleTimeString().replace(/ G.*/, "") %> <br>
                                            <% } %>
                                            <% if (changeStaffMeetingRequest[i].NewStaffID != undefined) { %>
                                                change staff to <%= changeStaffMeetingRequest[i].NewStaffID.Name %>
                                            <% } %>
                                        </td>
                                        <td width="25%"><%= changeStaffMeetingRequest[i].RequestComment.Content %></td>
                                        <td width="5%">
                                            <a href="/admin/staff_request_approve?id=<%= changeStaffMeetingRequest[i]._id %>">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal" style="width: 100%; float: right">Approve</button>
                                            </a>
                                        </td>
                                        <td width="5%">
                                            <button type="button" class="btn btn-danger " data-toggle="modal" data-target="#staffrejectreason<%= i %>" data-whatever="@staffRejectReason" style="width: 100%; float: right">Reject</button>
                                            <div class="modal fade" id="staffrejectreason<%= i %>" tabindex="-1" role="dialog"
                                                 aria-labelledby="exampleModalLabel">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h3 class="modal-title" id="exampleModalLabel">Reject
                                                                the
                                                                request</h3>
                                                        </div>
                                                        <div class="modal-body">

                                                            <div class="form-group" style="align-items: center">
                                                                <h4>feedback:&nbsp;reject reason </h4>
                                                                <br>
                                                                <textarea id="staffReason<%= i %>" rows="1"
                                                                          class="form-control form-control" ></textarea>
                                                                <textarea id="staffRequestID<%= i %>" rows="1"
                                                                          class="form-control form-control" style="display: none"><%= changeStaffMeetingRequest[i]._id%></textarea>
                                                            </div>

                                                        </div>
                                                        <div class="modal-footer">
                                                            <button  type="button" class="btn btn-primary" onclick="sendRejectReason(<%= i + ", \'staff\'"%>)">Set</button>
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                                            </button>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                <% } %>
                            <% } %>
                            <% for (let i = 0; i < changeClientMeetingRequest.length; i++){ %>
                                <% if ( changeClientMeetingRequest[i].Status == 'pending' ){ %>
                                    <tr style="cursor:pointer;display: table;width: 100%;table-layout: fixed;"
                                    <% if(j % 2 == 0) { %>
                                        <%= j++; %>;
                                        class="active"
                                    <% }else { %>
                                        <%= j++; %>;
                                            <% } %>
                                    >
                                        <td width="10%">Client</td>

                                        <td width="10%"><%= changeClientMeetingRequest[i].MeetingID.ClientID.Name %></td>
                                        <td width="10%"><%= changeClientMeetingRequest[i].MeetingID.MeetingNumber %></td>
                                        <td width="10%"><%= changeClientMeetingRequest[i].MeetingID.GroupID.TeamName %></td>
                                        <td width="10%"><%= changeClientMeetingRequest[i].MeetingID.Date.toISOString().replace(/T.*/, ' ') + changeClientMeetingRequest[i].MeetingID.Date.toLocaleTimeString().replace(/ G.*/, "") %></td>
                                        <td width="25%">change time to <%= changeClientMeetingRequest[i].RequestComment.Date.toISOString().replace(/T.*/, ' ') + changeClientMeetingRequest[i].RequestComment.Date.toLocaleTimeString().replace(/ G.*/, "") %></td>
                                        <td width="25%"><%= changeClientMeetingRequest[i].RequestComment.Content %></td>
                                        <td width="5%">
                                            <a href="/admin/client_request_approve?id=<%= changeClientMeetingRequest[i]._id %>">
                                                <button type="button" class="btn btn-primary"
                                                        data-dismiss="modal" style="width: 100%; float: right">
                                                    Approve
                                                </button>
                                            </a>
                                        </td>
                                        <td width="5%">
                                            <button type="button" class="btn btn-danger " data-toggle="modal"
                                                    data-target="#clientrejectreason<%= i %>" data-whatever="@clientRejectreason"
                                                    style="width: 100%; float: right">
                                                Reject
                                            </button>
                                            <div class="modal fade" id="clientrejectreason<%= i %>" tabindex="-1" role="dialog"
                                                 aria-labelledby="exampleModalLabel">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <form action="/admin/client_request_reject" method="post">
                                                        <div class="modal-header">
                                                            <h3 class="modal-title" id="exampleModalLabel">Reject the
                                                                request</h3>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="form-group" style="align-items: center">
                                                                <h4>feedback:&nbsp;reject reason </h4>
                                                                <br>
                                                                <textarea id="clientReason<%= i %>" rows="1"
                                                                          class="form-control form-control" ></textarea>
                                                                <textarea id="clientRequestID<%= i %>" rows="1"
                                                                          class="form-control form-control" style="display: none" ><%=changeClientMeetingRequest[i]._id%></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-primary" onclick="sendRejectReason(<%= i + ", \'client\'"%>)">Set</button>
                                                            <button type="button" class="btn btn-default"
                                                                    data-dismiss="modal">
                                                                Close
                                                            </button>
                                                        </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                    </tr>
                                <% } %>
                            <% } %>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <br>

    <div class="blank-page widget-shadow scroll">
        <h2><b>Edit Staff Meeting</b></h2>
        <div class="row">
            <br>
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="selector2" class="col-sm-2 control-label">Select Meeting</label>
                    <div class="col-sm-8">
                        <select class="form-control" style="width: 60%" id="staff_meetingid" name="staff_meetingid">
                            <option value="none">-</option>
                            <%for(let i = 0; i < allStaffMeeting.length; i++){%>
                            <%if(allStaffMeeting[i].GroupID.ProposalID!= undefined){%>
                            <option value="<%= allStaffMeeting[i]._id%>">SSIT Team <%=allStaffMeeting[i].GroupID.TeamName %> Staff Meeting <%= allStaffMeeting[i].MeetingNumber%></option>
                            <%}}%>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="selector3" class="col-sm-2 control-label">Select Time</label>
                    <div class="col-sm-8">
                        <input type="datetime-local" id="staff_date" name="staff_changetime" style="width: 60%">
                    </div>
                </div>
                <div class="form-group">
                    <label for="selector4" class="col-sm-2 control-label">Supervisor</label>
                    <div class="col-sm-8">
                        <select class="form-control" style="width: 60%" id="new_supervisor" name="staff_supervisor">
                            <option value="none">-</option>
                            <% for (let i = 0; i < allStaff.length; i++) { %>
                                <option value="<%= allStaff[i]._id %>"><%= allStaff[i].Name %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="input" class="col-sm-2 control-label">Place</label>
                    <div class="col-sm-8">
                                <textarea name="staff_place" class="form-control" rows="1" id="staff_newplace"
                                          placeholder="place Detail"></textarea>
                    </div>
                </div>
            </form>
            <div style="text-align: center">
                <button class="btn btn-primary" onclick="changeStaffMeeting()">SUBMIT</button>
            </div>
        </div>
    </div>

    <br>

    <div class="blank-page widget-shadow scroll">
        <h2><b>Edit Client Meeting</b></h2>
        <div class="row">
            <br>
            <form class="form-horizontal" method="post">
                <div class="form-group">
                    <label for="selector2" class="col-sm-2 control-label">Select Meeting</label>
                    <div class="col-sm-8">
                        <select class="form-control" style="width: 60%" id="clientMeetingNumber" name="client_meetingid">
                            <option value="none">-</option>
                            <%for(let i = 0; i < allClientMeeting.length;i++){%>
                            <option value="<%=allClientMeeting[i]._id%>">SSIT Team <%=allClientMeeting[i].GroupID.TeamName %> Client Meeting <%= allClientMeeting[i].MeetingNumber%></option>
                            <%}%>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="selector3" class="col-sm-2 control-label">Select Time</label>
                    <div class="col-sm-8">
                        <input type="datetime-local" id="clientMeetingDate" name="client_changetime" style="width: 60%">
                    </div>
                </div>
                <div class="form-group">
                    <label for="input" class="col-sm-2 control-label">Place</label>
                    <div class="col-sm-8">
                                <textarea name="client_place" class="form-control" rows="1" id="clientMeetingPlace"
                                          placeholder="place Detail"></textarea>
                    </div>
                </div>
            </form>
            <div style="text-align: center">
                <button class="btn btn-primary" onclick="changeClientMeeting()">SUBMIT</button>
            </div>
        </div>
    </div>

</div>

<% include ./component/footer.ejs %>

<script>
    function sendRejectReason(number, string) {
        const inputElement1 = document.createElement("input")
        inputElement1.type = 'hidden';
        inputElement1.name = 'reason';
        const inputElement2 = document.createElement("input");
        inputElement2.type = 'hidden';
        inputElement2.name = 'requestID';
        const form = document.createElement('form');
        form.style.display = 'none';
        form.method = 'post';

        if (string == 'staff') {
            form.action = '/admin/staff_request_reject';
            const id = 'staffReason' + number.toString()
            const id1= 'staffRequestID' +  number.toString()
            console.log(id + id1)
            if (document.getElementById(id).value == '') {
                alert("Please enter your reason1")
            } else {
                inputElement1.value = document.getElementById(id).value;
                inputElement2.value = document.getElementById(id1).value;
            }
        }
        if (string == 'client') {
            form.action = '/admin/staff_request_reject';
            const id = 'clientReason' + number.toString()
            const id1 = 'clientRequestID' + number.toString()
            if (document.getElementById(id).value == '') {
                alert('Please enter your reason2')
            } else {
                inputElement1.value = document.getElementById(id).value;
                inputElement2.value = document.getElementById(id1).value;
            }
        }
        form.appendChild(inputElement1);
        form.appendChild(inputElement2);
        document.body.appendChild(form);
        form.submit();
        return form;
    }

    function changeStaffMeeting(){
        const date = document.getElementById("staff_date").value;
        const meetingid = document.getElementById("staff_meetingid").value;
        const supervisor = document.getElementById("new_supervisor").value;
        const place = document.getElementById("staff_newplace").value;
        const nowtime1 = new Date();
        const nowtime2 = new Date(date);
        if(meetingid == 'none'){
            alert("please select a meeting!");
        }  else if(nowtime1 > nowtime2)
        {
            alert('Time must after the time of mow!');
        }
        else if(date != ''||supervisor !='none'||place != '')
        {
            const inputElement1 = document.createElement("input");
            inputElement1.type = 'hidden';
            inputElement1.name = 'staff_meetingid';
            inputElement1.value = meetingid;
            const inputElement2 = document.createElement("input");
            inputElement2.type = 'hidden';
            inputElement2.name = 'staff_changetime';
            inputElement2.value = date;
            const inputElement3 = document.createElement("input");
            inputElement3.type = 'hidden';
            inputElement3.name = 'staff_place';
            inputElement3.value = place;
            const inputElement4 = document.createElement("input");
            inputElement4.type = 'hidden';
            inputElement4.name = 'staff_supervisor';
            inputElement4.value = supervisor;
            const form = document.createElement("form");
            form.action = '/admin/staff_timetable_change';
            form.method = 'post';
            form.style.display = "none";
            form.appendChild(inputElement1);
            form.appendChild(inputElement2);
            form.appendChild(inputElement3);
            form.appendChild(inputElement4);
            document.body.appendChild(form);
            form.submit();
            alert('Change staff meeting successfully!');
            return form;
        } else{
            alert("Please enter new date or select a supervisor or enter the new place.");
        }
    }

    function changeClientMeeting(){
        const date = document.getElementById("clientMeetingDate").value;
        const meetingid = document.getElementById("clientMeetingNumber").value;
        const place = document.getElementById("clientMeetingPlace").value;
        const nowtime1 = new Date();
        const nowtime2 = new Date(date);
        if(meetingid == 'none'){
            alert("please select a meeting!");
        }
        else if(date == ''){
            alert("Please select a time!");
        }else if(nowtime1 > nowtime2)
        {
            alert('Time must after the time of mow!');
        } else {
            const inputElement1 = document.createElement("input");
            inputElement1.type = 'hidden';
            inputElement1.name = 'client_meetingid';
            inputElement1.value = meetingid;
            const inputElement2 = document.createElement("input");
            inputElement2.type = 'hidden';
            inputElement2.name = 'client_changetime';
            inputElement2.value = date;
            const inputElement3 = document.createElement("input");
            inputElement3.type = 'hidden';
            inputElement3.name = 'client_place';
            inputElement3.value = place;
            const form = document.createElement("form");
            form.action = '/admin/client_timetable_change';
            form.method = 'post';
            form.style.display = "none";
            form.appendChild(inputElement1);
            form.appendChild(inputElement2);
            form.appendChild(inputElement3);
            document.body.appendChild(form);
            form.submit();
            alert('Change client meeting successfully!');
            return form;

        }
    }


</script>
<% include ./component/footer_script.ejs %>
