<% include ./header1.ejs %>
<!-- main content start-->
<div id="page-wrapper">
    <div class="blank-page widget-shadow scroll">
        <h2 class="title1">Request</h2>
        <br>
        <div class="row">
            <table width="100%" frame=void rules=none>
                <tr>
                    <td width="80%">
                        <table width="100%" border="0px" frame=void rules=none>
                            <tr>
                                <th width="5%">role</th>
                                <th width="5%">name</th>
                                <th width="10%">meeting number</th>
                                <th width="6%">meeting team</th>
                                <th width="16%">orgianl time</th>
                                <th width="20%">request</th>
                                <th width="30%">comment</th>
                            </tr>
                            <% for (let i = 0; i < changeStaffMeetingRequest.length; i++){ %>
                                <% if ( changeStaffMeetingRequest[i].Status == 'pending' ){ %>
                                    <tr class="role2">
                                        <td>Staff</td>
                                        <td><%= changeStaffMeetingRequest[i].StaffID.Name %></td>
                                        <td>staff meeting <%= i + 1 %></td>
                                        <td><%= changeStaffMeetingRequest[i].MeetingID.GroupID.TeamName%></td>
                                        <td><%= changeStaffMeetingRequest[i].MeetingID.Date.toISOString().replace(/T.*/, ' ') + changeStaffMeetingRequest[i].MeetingID.Date.toLocaleTimeString().replace(/ G.*/, "") %></td>
                                        <td>
                                            <%if (changeStaffMeetingRequest[i] != undefined) { %>
                                                <% if (changeStaffMeetingRequest[i].NewMeetingTime != undefined ) { %>
                                                    change time to <%= changeStaffMeetingRequest[i].RequestComment.Date.toISOString().replace(/T.*/, ' ') + changeStaffMeetingRequest[i].RequestComment.Date.toLocaleTimeString().replace(/ G.*/, "") %>
                                                <% } %>
                                                <% if (changeStaffMeetingRequest[i].NewStaffID != undefined) { %>
                                                        <br> change staff to <%= changeStaffMeetingRequest[i].NewStaffID.Name %>
                                                <% } %>
                                            <% } %>
                                        </td>

                                        <td><%= changeStaffMeetingRequest[i].RequestComment.Content %></td>
                                        <td width="5%">
                                            <button type="button" class="btn btn-primary"
                                                    style="width: 100%; float: right">
                                                Approve
                                            </button>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-danger " data-toggle="modal"
                                                    data-target="#rejectereason" data-whatever="@Rejectereason"
                                                    style="width: 100%; float: right">
                                                Reject
                                            </button>
                                            <div class="modal fade" id="rejectereason" tabindex="-1" role="dialog"
                                                 aria-labelledby="exampleModalLabel">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h3 class="modal-title" id="exampleModalLabel">Reject the
                                                                request</h3>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="form-group" style="align-items: center">
                                                                <h4>feedback:&nbsp;reject reason </h4>
                                                                <br>
                                                                <textarea id="project_name" rows="1"
                                                                          class="form-control form-control"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-primary">Set</button>
                                                            <button type="button" class="btn btn-default"
                                                                    data-dismiss="modal">Close
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        </td>
                                    </tr>
                                <% } %>
                            <% } %>
                            <% for (let i = 0; i < changeClientMeetingRequest.length; i++){ %>
                                <% if ( changeClientMeetingRequest[i].Status == 'pending' ){ %>
                                    <tr class="role2">
                                        <td>Client</td>
                                        <td><%= changeClientMeetingRequest[i].MeetingID.ClientID.Name %></td>
                                        <td>client meeting <%= i + 1 %>
                                        </td>
                                        <td><%= changeClientMeetingRequest[i].MeetingID.GroupID.TeamName%></td>
                                        <td><%= changeClientMeetingRequest[i].MeetingID.Date.toISOString().replace(/T.*/, ' ') + changeClientMeetingRequest[i].MeetingID.Date.toLocaleTimeString().replace(/ G.*/, "") %></td>
                                        <td>change time
                                            to <%= changeClientMeetingRequest[i].RequestComment.Date.toISOString().replace(/T.*/, ' ') + changeClientMeetingRequest[i].RequestComment.Date.toLocaleTimeString().replace(/ G.*/, "") %></td>
                                        <td><%= changeClientMeetingRequest[i].RequestComment.Content %></td>
                                        <td>
                                            <button type="button" class="btn btn-primary"
                                                    style="width: 100%; float: right">
                                                Approved
                                            </button>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-danger " data-toggle="modal"
                                                    data-target="#rejectereason" data-whatever="@Rejectereason"
                                                    style="width: 100%; float: right">
                                                Rejected
                                            </button>
                                            <div class="modal fade" id="rejectereason" tabindex="-1" role="dialog"
                                                 aria-labelledby="exampleModalLabel">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h3 class="modal-title" id="exampleModalLabel">Reject the
                                                                request</h3>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="form-group" style="align-items: center">
                                                                <h4>feedback:&nbsp;reject reason </h4>
                                                                <br>
                                                                <textarea id="project_name" rows="1"
                                                                          class="form-control form-control"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-primary">Set</button>
                                                            <button type="button" class="btn btn-default"
                                                                    data-dismiss="modal">
                                                                Close
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                <% } %>
                            <% } %>
                        </table>
                    </td>

                </tr>
            </table>

        </div>
    </div>

    <br>

    <div class="blank-page widget-shadow scroll">
        <h2><b>Edit Meeting</b></h2>
        <div class="row">
            <br>
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="selector1" class="col-sm-2 control-label">Role</label>
                    <div class="col-sm-8">
                        <select name="role" id="role" class="form-control" style="width: 60%">
                            <option value="staff">Staff</option>
                            <option value="client">Client</option>

                        </select>

                    </div>
                    <% include ./component/optionselected.ejs %>

                </div>
                <div class="form-group">
                    <label for="selector2" class="col-sm-2 control-label">Select Group</label>
                    <div class="col-sm-8">
                        <select class="form-control" style="width: 60%">
                            <% for (let i = 0; i < allTeam.length; i++) { %>
                                <option value="allTeam[i]._id"><%= 'SSIT Team ' + allTeam[i].TeamName %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="selector2" class="col-sm-2 control-label">Select Meeting</label>
                    <div class="col-sm-8">
                        <select class="form-control" style="width: 60%">
                            <option>Meeting 1</option>
                            <option>Meeting 2</option>
                            <option>Meeting 3</option>
                            <option>Meeting 4</option>
                            <option>Meeting 5</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="selector3" class="col-sm-2 control-label">Select Time</label>
                    <div class="col-sm-8">
                        <input id="selector3" type="datetime-local" name="client_changetime" style="width: 60%">
                    </div>
                </div>
                <div class="form-group">
                    <label for="selector4" class="col-sm-2 control-label">Supervisor</label>
                    <div class="col-sm-8">
                        <select class="form-control" style="width: 60%">
                        <option>-</option>
                            <% for (let i = 0; i < allStaff.length; i++) { %>
                                <option value="<%= allStaff[i]._id %>"><%= allStaff[i].Name %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="input" class="col-sm-2 control-label">Place</label>
                    <div class="col-sm-8">
                                <textarea class="form-control" rows="1" id="input"
                                          placeholder="Enter Your Question Detail"></textarea>
                    </div>
                </div>
            </form>
            <div style="text-align: center">
                <button onclick="window.location='team_list.html'" type="button" class="btn btn-primary">SUBMIT</button>
            </div>
        </div>
    </div>

</div>

<% include ./component/footer_script.ejs%>
<% include ./component/footer.ejs %>
