<% include ./header.ejs %>
<!-- main content start-->
<div id="page-wrapper">
    <div class="blank-page widget-shadow scroll">
        <h2 class="title1">Request</h2>
        <br>
        <div class="row">
            <table width="100%" frame=void rules=none>
                <tr>
                    <td width="100%">
                        <table width="100%" class="table">
                            <thead style=" width: calc( 100% - 1em)">
                            <tr style="display: table;width: calc(100% - 1em);table-layout: fixed;">
                                <th width="10%">role</th>
                                <th width="10%">name</th>
                                <th width="10%">meeting number</th>
                                <th width="10%">meeting team</th>
                                <th width="10%">orgianl time</th>
                                <th width="25%">request</th>
                                <th width="25%">comment</th>
                                <th width="5%"></th>
                                <th width="5%"></th>
                            </tr>
                            </thead>
                            <tbody style="display: block; height: 300px;overflow-y: scroll;">
                            <% for (let i = 0, j = 0; i < changeStaffMeetingRequest.length; i++){ %>
                                <% if ( changeStaffMeetingRequest[i].Status == 'pending' ){ %>
                                    <tr style="cursor:pointer;display: table;width: 100%;table-layout: fixed;"
                                    <% if(j % 2 == 0) { %>
                                        <%= j++; %>;
                                        class="active"
                                    <% }else { %>
                                        <%= j++; %>;
                                            <% } %>
                                    >
                                        <td scope="row" width="10%">Staff</td>
                                        <td width="10%"><%= changeStaffMeetingRequest[i].StaffID.Name %></td>
                                        <td width="10%"><%= changeStaffMeetingRequest[i].MeetingID.MeetingNumber %></td>
                                        <td width="10%"><%= changeStaffMeetingRequest[i].MeetingID.GroupID.TeamName %></td>
                                        <td width="10%"><%= changeStaffMeetingRequest[i].MeetingID.Date.toISOString().replace(/T.*/, ' ') + changeStaffMeetingRequest[i].MeetingID.Date.toLocaleTimeString().replace(/ G.*/, "") %></td>
                                        <td width="25%">
                                            <% if (changeStaffMeetingRequest[i].NewMeetingTime != undefined) {%>
                                                change time to <%= changeStaffMeetingRequest[i].RequestComment.Date.toISOString().replace(/T.*/, ' ') + changeStaffMeetingRequest[i].RequestComment.Date.toLocaleTimeString().replace(/ G.*/, "") %> <br>
                                            <% } %>
                                            <% if (changeStaffMeetingRequest[i].NewStaffID != undefined) { %>
                                                change staff to <%= changeStaffMeetingRequest[i].NewStaffID.Name %>
                                            <% } %>
                                        </td>
                                        <td width="25%"><%= changeStaffMeetingRequest[i].RequestComment.Content %></td>
                                        <td width="5%">
                                            <a href="/admin/staff_request_approve?id=<%= changeStaffMeetingRequest[i]._id %>">
                                                <button type="button" class="btn btn-primary"
                                                        data-dismiss="modal" style="width: 100%; float: right">
                                                    Approve
                                                </button>
                                            </a>
                                        </td>
                                        <td width="5%">
                                            <button type="button" class="btn btn-danger " data-toggle="modal"
                                                    data-target="#rejectreason" data-whatever="@Rejectreason"
                                                    style="width: 100%; float: right">
                                                Reject
                                            </button>
                                            <div class="modal fade" id="rejectreason" tabindex="-1" role="dialog"
                                                 aria-labelledby="exampleModalLabel">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h3 class="modal-title" id="exampleModalLabel">Reject
                                                                the
                                                                request</h3>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form>
                                                            <div class="form-group" style="align-items: center">
                                                                <h4>feedback:&nbsp;reject reason </h4>
                                                                <br>
                                                                <textarea id="reason" rows="1"
                                                                          class="form-control form-control"></textarea>
                                                            </div>
                                                            </form>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <a href="/admin/staff_request_reject?id=<%= changeStaffMeetingRequest[i]._id %>">
                                                                <button onclick="sendRejectReason()" type="button"
                                                                        class="btn btn-primary">Set
                                                                </button>
                                                            </a>
                                                            <button type="button" class="btn btn-default"
                                                                    data-dismiss="modal">Close
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                <% } %>
                            <% } %>
                            <% for (let i = 0, j = 0; i < changeClientMeetingRequest.length; i++){ %>
                                <% if ( changeClientMeetingRequest[i].Status == 'pending' ){ %>
                                    <tr style="cursor:pointer;display: table;width: 100%;table-layout: fixed;"
                                    <% if(j % 2 == 0) { %>
                                        <%= j++; %>;
                                        class="active"
                                    <% }else { %>
                                        <%= j++; %>;
                                            <% } %>
                                    >
                                        <td width="10%">Client</td>

                                        <td width="10%"><%= changeClientMeetingRequest[i].MeetingID.ClientID.Name %></td>
                                        <td width="10%"><%= changeClientMeetingRequest[i].MeetingID.MeetingNumber %></td>
                                        <td width="10%"><%= changeClientMeetingRequest[i].MeetingID.GroupID.TeamName %></td>
                                        <td width="10%"><%= changeClientMeetingRequest[i].MeetingID.Date.toISOString().replace(/T.*/, ' ') + changeClientMeetingRequest[i].MeetingID.Date.toLocaleTimeString().replace(/ G.*/, "") %></td>
                                        <td width="25%">change time to <%= changeClientMeetingRequest[i].RequestComment.Date.toISOString().replace(/T.*/, ' ') + changeClientMeetingRequest[i].RequestComment.Date.toLocaleTimeString().replace(/ G.*/, "") %></td>
                                        <td width="25%"><%= changeClientMeetingRequest[i].RequestComment.Content %></td>
                                        <td width="5%">
                                            <a href="/admin/client_request_approve?id=<%= changeClientMeetingRequest[i]._id %>">
                                                <button type="button" class="btn btn-primary"
                                                        data-dismiss="modal" style="width: 100%; float: right">
                                                    Approve
                                                </button>
                                            </a>
                                        </td>
                                        <td width="5%">
                                            <button type="button" class="btn btn-danger " data-toggle="modal"
                                                    data-target="#rejectreason" data-whatever="@Rejectreason"
                                                    style="width: 100%; float: right">
                                                Reject
                                            </button>
                                            <div class="modal fade" id="rejectreason" tabindex="-1" role="dialog"
                                                 aria-labelledby="exampleModalLabel">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <form>
                                                        <div class="modal-header">
                                                            <h3 class="modal-title" id="exampleModalLabel">Reject the
                                                                request</h3>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="form-group" style="align-items: center">
                                                                <h4>feedback:&nbsp;reject reason </h4>
                                                                <br>
                                                                <textarea id="reason" rows="1"
                                                                          class="form-control form-control"></textarea>
                                                            </div>
                                                        </div>
                                                        </form>
                                                        <div class="modal-footer">
                                                            <button onclick="sendRejectReason()" type="button" class="btn btn-primary">Set</button>
                                                            <button type="button" class="btn btn-default"
                                                                    data-dismiss="modal">
                                                                Close
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                    </tr>
                                <% } %>
                            <% } %>

                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <br>

    <div class="blank-page widget-shadow scroll">
        <h2><b>Edit Meeting</b></h2>
        <div class="row">
            <br>
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="selector1" class="col-sm-2 control-label">Role</label>
                    <div class="col-sm-8">
                        <select name="role" id="role" class="form-control" style="width: 60%">
                            <option value="staff">Staff</option>
                            <option value="client">Client</option>

                        </select>

                    </div>

                </div>
                <div class="form-group">
                    <label for="selector2" class="col-sm-2 control-label">Select Group</label>
                    <div class="col-sm-8">
                        <select name="group" class="form-control" style="width: 60%">
                            <% for (let i = 0; i < allTeam.length; i++) { %>
                                <option value="allTeam[i]._id"><%= 'SSIT Team ' + allTeam[i].TeamName %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="selector2" class="col-sm-2 control-label">Select Meeting</label>
                    <div class="col-sm-8">
                        <select class="form-control" style="width: 60%" name="selectmeeting">
                            <option>Meeting 1</option>
                            <option>Meeting 2</option>
                            <option>Meeting 3</option>
                            <option>Meeting 4</option>
                            <option>Meeting 5</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="selector3" class="col-sm-2 control-label">Select Time</label>
                    <div class="col-sm-8">
                        <input type="datetime-local" name="client_changetime" style="width: 60%">
                    </div>
                </div>
                <div class="form-group">
                    <label for="selector4" class="col-sm-2 control-label">Supervisor</label>
                    <div class="col-sm-8">
                        <select class="form-control" style="width: 60%" name="supervisor">
                            <option>-</option>
                            <% for (let i = 0; i < allStaff.length; i++) { %>
                                <option value="<%= allStaff[i]._id %>"><%= allStaff[i].Name %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="input" class="col-sm-2 control-label">Place</label>
                    <div class="col-sm-8">
                                <textarea name="place" class="form-control" rows="1" id="input"
                                          placeholder="place Detail"></textarea>
                    </div>
                </div>
            </form>
            <div style="text-align: center">
                <button onclick="window.location='./team_list'" type="button" class="btn btn-primary">SUBMIT</button>
            </div>
        </div>
    </div>

</div>

<% include ./component/footer.ejs %>

<script>
    function sendRejectReason() {
        const rejectreason = document.getElementById('reason').value;
        if (rejectreason == '') {
            alert('Please enter a reason');
        } else {
            const form = document.createElement("form");
            form.action = '/admin/staff_request_reject';
            form.method = 'post';
            form.style.display = "none";

            const inputElement = document.createElement("input")
            inputElement.type = 'hidden';
            inputElement.name = 'rejectreason';
            inputElement.value = rejectreason;
            form.appendChild(inputElement);

            document.body.appendChild(form);
            form.submit();
            return form
        }
    }
</script>
<% include ./component/footer_script.ejs %>
