<%- include('header') %>


<!-- main content start-->
<div id="page-wrapper">

    <table width="100%">
        <tr>
            <td width="50%">
                <div class="blank-page widget-shadow scroll">
                    <h2><b>My Calendar</b></h2>
                    <div class="agil-info-calendar">
                        <!-- calendar -->
                        <div class="agile-calendar">
                            <div class="calendar-widget">
                                <hr class="widget-separator">
                                <!-- grids -->
                                <div class="agile-calendar-grid">
                                    <div class="page">

                                        <div class="w3l-calendar-left">
                                            <div class="calendar-heading">

                                            </div>
                                            <div class="monthly" id="mycalendar"></div>
                                        </div>

                                        <div class="clearfix"> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td width="50%">
                <div class="blank-page widget-shadow scroll" style="margin-left: 2%;height: 600px" >
                    <h2><b>Meeting Table</b></h2>
                    <table class="table" style="margin-bottom: 0px">
                        <thead>
                        <tr>
                            <th style="width: 20%;padding-left:1%">Meeting Number</th>
                            <th style="width: 20%;padding-left:1%">Team</th>
                            <th style="width: 30%;padding-left:1%">Meeting Time</th>
                            <th style="width: 30%;padding-left:1%">Meeting Status</th>
                        </tr>
                        </thead>
                    </table>
                    <div  class="tables  scroll scrollbar1" style="height: 90%">
                        <div class="widget-shadow">
                            <table class="table">
                                <tbody>
                                <%for(let i=0;i<meetings.length;i++){%>
                                <tr>
                                    <th style="width: 20%" scope="row"><%=i+1%></th>
                                    <td style="width: 20%"><%="SSIT TEAM "+meetings[i].GroupID.TeamName%></td>
                                    <td style="width: 30%"><%=meetings[i].Date.toISOString().replace(/T.*/,' ')+meetings[i].Date.toLocaleTimeString().replace(/ G.*/,"")%></td>
                                    <td style="width: 30%"><%=meetings[i].Place%></td>
                                </tr>
                                <%}%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br>
                <div class="blank-page widget-shadow scroll" style="margin-left: 2%;">
                    <h2><b>Change Timetable</b></h2>
                    <div class="form-body">
                        <form style="padding-left: 30%" method="post">
                            <div>Meeting Number:</div>
                            <div class="form-group" style="align-items: center">
                                <select class="form-control" style="width: 60%" name="selection">
                                    <option>-</option>
                                    <%for(let i=0;i<meetings.length;i++){%>
                                    <option name="option" id="<%meetings[i]._id%>">Client Meeting <%=i+1%></option>
                                    <%}%>
                                </select>
                            </div>
                            <div>Change time to:</div>
                            <div class="form-group" style="align-items: center">
                                <input type="datetime-local" name="time" style="width: 60%">
                            </div>
                            <textarea name="reason" id="t1" style="width: 60%; resize: none" rows="3" placeholder="Enter your reason"></textarea>
                            <div>
                                <button class="btn btn-primary" style="margin-left: 20%">Submit</button>
                            </div>

                        </form>
                        <div>
                            <div class="col-md-4">
                                <button class="btn btn-primary" data-toggle="modal" data-target="#gridSystemModal" style="margin-left: 280%">Check History</button>
                                <div class="modal fade" id="gridSystemModal" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
                                    <div class="modal-dialog" role="document" style="width:60%">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="gridSystemModalLabel">Request History</h4>
                                            </div>
                                            <div class="modal-body">
                                                <%if(changeClientMeetingRequest.length>0){%>
                                                <table>
                                                    <tr>
                                                        <th width="10%"><b>Name</b></th>
                                                        <th width="10%"><b>Meeting Number</b></th>
                                                        <th width="15%"><b>Original Time</b></th>
                                                        <th width="15%"><b>New Meeting Time</b></th>
                                                        <th width="25%"><b>Comment</b></th>
                                                        <th width="20%"><b>Admin Reply</b></th>
                                                        <th width="5%"><b>Status</b></th>
                                                    </tr>
                                                    <br>

                                                    <% for (let i = 0; i < changeClientMeetingRequest.length; i++){ %>
                                                    <tr class="role2">
                                                        <td><%= changeClientMeetingRequest[i].MeetingID.ClientID.Name%></td>
                                                        <td>client meeting <%= i + 1 %></td>
                                                        <td><%= changeClientMeetingRequest[i].MeetingID.Date.toISOString().replace(/T.*/,' ')+changeClientMeetingRequest[i].MeetingID.Date.toLocaleTimeString().replace(/ G.*/,"")%></td>
                                                        <td>change time to <%= changeClientMeetingRequest[i].NewMeetingTime.toISOString().replace(/T.*/,' ')+changeClientMeetingRequest[i].NewMeetingTime.toLocaleTimeString().replace(/ G.*/,"")%></td>
                                                        <td><%= changeClientMeetingRequest[i].RequestComment.Content %></td>
                                                        <% if(changeClientMeetingRequest[i].AdminReply.Content!= undefined){%>
                                                        <td><%= changeClientMeetingRequest[i].AdminReply.Content %></td>
                                                            <%}else{%>
                                                            <td>No reply.</td>
                                                        <%}%>
                                                        <td><%=changeClientMeetingRequest[i].Status%></td>
                                                    </tr>
                                                    <% } %>
                                                </table>
                                                    <% } else{%>
                                                        <div class="alert alert-danger" role="alert">You do not have a change request!</div>
                                                    <%}%>
                                                <br>
                                                <button type="button" class="btn btn-default btn-sm" style="margin-left: 45%" data-dismiss="modal">Close</button>
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div><!-- /.modal -->
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>

</div>

<%- include('footer') %>
