<%- include('header') %>

<!-- main content start-->
<div id="page-wrapper">
    <div class="blank-page widget-shadow scroll">
        <h2><b><%=proposal.Topic%></b><span class="label label-success"
                                         style="float:right;font-size:15px">Approved</span></h2>
        <br>
        <div class="row">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Detail / content / Description</h3>
                </div>
                <div class="panel-body" data-example-id="embedded-scrollspy">
                    <div data-spy="scroll" data-target="#navbar-example2"
                         class="scrollspy-example scroll scrollbar1">
                        <p><%=proposal.Content%></p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <% if(stage.Stage==0){ %>
            <table width="100%">
                <tr class="row">

                    <td width="95%">
                        <a href="/client/edit_project?id=<%=proposal._id%>">
                            <button type="button" class="btn btn-primary" style="float: right;margin-right: -2.7%;">Edit</button>
                        </a>
                    </td>
                </tr>
            </table>
            <% } %>
        </div>
    </div>
    <% if(stage.Stage!=0){ %>
    <br>
    <div class="blank-page widget-shadow scroll">
        <h2><b>Allocated Team</b></h2>
        <% if(teams.length>0){%>
        <% teams.forEach(function (team) { %>
        <div class="grid_3 grid_5 widget-shadow">
            <a href="/client/myteam/teampage?id=<%=team._id%>">
                <div>
                    <h3><b>SSIT Team <%=team.TeamName%></b></h3>
                </div>
                <div>
                    <table width="100%">
                        <tr>
                            <td width="40%"><p><b>Supervisor: </b><%=team.StaffID.Name%><span><i class="fa fa-angle-right"
                                                                                 style="float:right;font-size: 20px"/></span>
                                </p></td>
                        </tr>
                        <td width="20em"><p><b>Student:</b>
                                <%let students = team.StudentID;%>
                                <%= students[0].Name %>
                                <% for (let j = 1; j < students.length; j++) { %>
                                    <%= ' / ' + students[j].Name %>
                                <% } %>
                            </p></td>
                        </tr>
                    </table>
                </div>
            </a></div>
        <% })%>
        <%}else {%>
        <br>
        <div class="alert alert-danger" role="alert">Not allocated yet!</div>
        <%}%>
    </div>
    <% }else{ %>
        <br>
    <div class="blank-page widget-shadow scroll">
        <h2 class="title1"><b>Comments</b></h2>


        <% if(Replies.length!=0){%>
        <div class="bs-example widget-shadow" data-example-id="contextual-table" style="overflow-y:auto; ">
            <table class="table" style="margin-bottom:0px">
                <thead>
                <tr>
                    <th style="width: 20%;font-size: 20px"><b>Name</b></th>
                    <th style="width: 65%;font-size: 20px"><b>Comment</b></th>
                    <th style="width: 20%;font-size: 20px"><b>Comment Date</b></th>
                </tr>
                </thead>
                <tbody>
                <%for(let i = 0; i < Replies.length; i++) {%>
                    <% if ((i%2) == 1) { %>
                    <tr>
                        <td><b><%=Replies[i].Author%></b></td>
                        <td><%=Replies[i].Comment%></td>
                        <td><%=Replies[i].ReplyDate.toISOString().replace(/T.*/,' ')+Replies[i].ReplyDate.toLocaleTimeString().replace(/ G.*/,"")%></td>
                    </tr>

                    <% } else{ %>
                    <tr class="active">
                        <th scope="row"><b><%=Replies[i].Author%></b></th>
                        <td><%=Replies[i].Comment%></td>
                        <td><%=Replies[i].ReplyDate.toISOString().replace(/T.*/,' ')+Replies[i].ReplyDate.toLocaleTimeString().replace(/ G.*/,"")%></td>
                    </tr>
                <%}}%>
                </tbody>
            </table>
        </div>
        <%} else{%>
            <div class="alert alert-danger" role="alert">No comment yet!</div>
        <%}%>
        <br>

        <div class="row">
            <br>
            <form class="form-horizontal" method="post">
                <div class="form-group">
                    <label for="project_name" class="col-sm-2 control-label">Make a comment</label>
                    <div class="col-sm-8">
                        <textarea id="comment" rows="6" class="form-control form-control"></textarea>
                    </div>
                </div>
            </form>
            <div style="text-align: center">
                <button type="button" class="btn btn-primary" onclick="checkComment()">SUBMIT</button>
            </div>
        </div>
    </div>
    <% } %>
</div>

<%- include('footer') %>

<%- include('script')%>
