<%- include('header') %>

<!-- main content start-->
<div id="page-wrapper">
    <div class="blank-page widget-shadow scroll">
        <h2><b><%=proposal.Topic%></b><span class="label label-warning"
                                         style="float:right;font-size:15px">Pending</span></h2>
        <br>
        <div class="row">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Detail / content / Description</h3>
                </div>
                <div class="panel-body" data-example-id="embedded-scrollspy">
                    <div data-spy="scroll" data-target="#navbar-example2"
                         class="scrollspy-example scroll scrollbar1">
                        <p><%=proposal.Content%></p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <table width="100%">
            <tr class="row">
                <td width="95%">
                    <a href="/client/edit_project?id=<%=proposal._id%>">
                        <button type="button" class="btn btn-primary" style="float: right">Edit</button>
                    </a>
                </td>
                <td>
                    <a href="/client/delete_project?id=<%=proposal._id%>">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" style="float: right">Delete</button>
                    </a>
                </td>
            </tr>
        </table>
    </div>

    <br>
    <div class="blank-page widget-shadow scroll">
        <h2 class="title1"><b>Comments</b></h2>


        <% if(Replies.length!=0){%>
        <div class="bs-example widget-shadow" data-example-id="contextual-table" style="overflow-y:auto; ">
            <table class="table" style="margin-bottom:0px">
                <thead>
                <tr>
                    <th style="width: 20%;font-size: 20px"><b>Name</b></th>
                    <th style="width: 65%;font-size: 20px"><b>Comment</b></th>
                    <th style="width: 20%;font-size: 20px"><b>Comment Date</b></th>
                </tr>
                </thead>
                <tbody>
                <%for(let i = 0; i < Replies.length; i++) {%>
                    <% if ((i%2) == 1) { %>
                    <tr>
                        <td><b><%=Replies[i].Author%></b></td>
                        <td><%=Replies[i].Comment%></td>
                        <td><%=Replies[i].ReplyDate.toISOString().replace(/T.*/,' ')+Replies[i].ReplyDate.toLocaleTimeString().replace(/ G.*/,"")%></td>
                    </tr>

                    <% } else{ %>
                    <tr class="active">
                        <th scope="row"><b><%=Replies[i].Author%></b></th>
                        <td><%=Replies[i].Comment%></td>
                        <td><%=Replies[i].ReplyDate.toISOString().replace(/T.*/,' ')+Replies[i].ReplyDate.toLocaleTimeString().replace(/ G.*/,"")%></td>
                    </tr>
                <%}}%>
                </tbody>
            </table>
        </div>
        <%} else{%>
            <div class="alert alert-danger" role="alert">No comment yet!</div>
        <%}%>
        <br>

        <div class="row">
            <br>
            <form class="form-horizontal" method="post">
                <div class="form-group">
                    <label for="project_name" class="col-sm-2 control-label">Make a comment</label>
                    <div class="col-sm-8">
                        <textarea id="comment" rows="6" class="form-control form-control"></textarea>
                    </div>
                </div>
            </form>
            <div style="text-align: center">
                <button type="button" class="btn btn-primary" onclick="checkComment()">SUBMIT</button>
            </div>
        </div>
    </div>

</div>

<%- include('footer') %>
<script>
    function checkComment() {
        const comment = document.getElementById('comment').value;
        let link = window.location.search;
        link = link.substring(1,link.length);
        let ProposalID = link.split("&")[0].split("=")[1];
        if (comment == '') {
            alert('Please enter the comment');
        } else {
            const inputElement1 = document.createElement("input");
            inputElement1.type = 'hidden';
            inputElement1.name = 'comment';
            inputElement1.value = comment;
            const inputElement2 = document.createElement("input");
            inputElement2.type = 'hidden';
            inputElement2.name = 'proposalID';
            inputElement2.value = ProposalID;

            const form = document.createElement("form");
            form.action = '/client/myproject/project_pending';
            form.method = 'post';
            form.style.display = "none";

            form.appendChild(inputElement1);
            form.appendChild(inputElement2);
            document.body.appendChild(form);
            form.submit();
            return form
        }
    }
</script>
<%- include('script')%>
