<%- include('header') %>

<!-- main content start-->
<div id="page-wrapper">
    <div class="blank-page widget-shadow scroll" id="client_team1_member_div">
        <h2><b>SSIT Team <%= team.TeamName %></b></h2>
        <br>
        <p><b>Supervisor:</b> <%= team.StaffID.Name %></p>
        <br>
        <p><b>Team members:</b>
            <% let students = team.StudentID; %>
            <%= students[0].Name %>
            <% for (let j = 1; j < students.length; j++) { %>
                <%= ' / ' + students[j].Name %>
            <% } %>
        </p>

        <br>
        <div class="panel panel-info">
            <!-- Default panel contents -->
            <div class="panel-heading"><b>Project Overview</b></div>
            <div class="panel-body"><b>Topic: </b><%= team.ProposalID.Topic %>
                <br>
            <b>Content: </b><%= team.ProposalID.Content.substring(0, 800) + '...' %></div>
        </div>
    </div>
    <br>

    <div class="blank-page widget-shadow scroll" id="client_team1_meeting_div">
        <h2><b>Meeting</b></h2>
        <br>
        <div class="panel panel-info">
            <!-- Default panel contents -->
            <div class="panel-heading"><b>Meeting List</b></div>
            <!-- Table -->
            <table class="table">
                <tr>
                    <th>Meeting Number</th>
                    <th>Time</th>
                    <th>Place</th>

                </tr>
                <% for(let i = 0;i < meetings.length;i++){ %>
                <tr>
                    <th>Client Meeting <%= i+1 %></th>
                    <td><%= meetings[i].Date.toISOString().replace(/T.*/, ' ')+meetings[i].Date.toLocaleTimeString().replace(/ G.*/, "") %></td>
                    <td><%= meetings[i].Place %></td>
                </tr>
                <% } %>
            </table>
        </div>
    </div>
    <br>
    <%if(stage.Stage==2){%>
    <% if (team.ClientMark.length == 0) { %>
        <div class="blank-page widget-shadow scroll">
            <h3><b>Mark For This Team</b>
                <a href="/client/myteam/teammark?id=<%= team._id %>">
                    <button class="btn btn-primary btn-flat btn-pri" style="float:right" type="button"><i
                                aria-hidden="true" class="fa fa-plus"></i>Mark
                    </button>
                </a>
            </h3>
        </div>
    <% } else { %>
    <div class="blank-page widget-shadow scroll" id="client_team1_meeting_div">
            <h2><b>Team Mark</b><a href="/client/myteam/edit_teammark?id=<%= team._id %>">
                    <button class="btn btn-primary" style="float:right" type="button">Edit
                    </button>
                </a></h2>
        <br>
        <div class="panel panel-info">
            <!-- Default panel contents -->
            <div class="panel-heading" ><b>Marks</b></div>

            <!-- Table -->
            <table class="table">
                <tr>
                    <th width="20%">Description</th>
                    <th width="20%">Detail</th>
                    <th width="50%">Reason</th>
                    <th width="10%">Mark</th>
                </tr>
                <tr>
                    <td rowspan=>Documentation (15)</td>
                    <td>Appropriate form of documentation</td>
                    <td><%= team.ClientMarkReason[0] %></td>
                    <td><%= team.ClientMark[0] + " / 15" %></td>
                </tr>
                <tr>
                    <td rowspan="2">Team performance (10)</td>
                    <td>Final demonstration</td>
                    <td><%= team.ClientMarkReason[1] %></td>
                    <td><%= team.ClientMark[1] + " / 5" %></td>
                </tr>
                <tr>
                    <td>Communication</td>
                    <td><%= team.ClientMarkReason[2] %></td>
                    <td><%= team.ClientMark[2] + " / 5" %></td>
                </tr>
                <tr>
                    <td rowspan="4">System delivered (20)</td>
                    <td>Ease of use</td>
                    <td><%= team.ClientMarkReason[3] %></td>
                    <td><%= team.ClientMark[3] + " / 5" %></td>
                </tr>
                <tr>
                    <td>Completeness</td>
                    <td><%= team.ClientMarkReason[4] %></td>
                    <td><%= team.ClientMark[4] + " / 5" %></td>
                </tr>
                <tr>
                    <td>Innovation</td>
                    <td><%= team.ClientMarkReason[5] %></td>
                    <td><%= team.ClientMark[5] + " / 5" %></td>
                </tr>
                <tr>
                    <td>Robustness</td>
                    <td><%= team.ClientMarkReason[6] %></td>
                    <td><%= team.ClientMark[6] + " / 5" %></td>
                </tr>
                <tr>
                    <td>Happiness (5)</td>
                    <td>Overall impression of the system</td>
                    <td><%= team.ClientMarkReason[7] %></td>
                    <td><%= team.ClientMark[7] + " / 5" %></td>
                </tr>
            </table>
        </div>
    </div>
    <% }} %>

</div>

<%- include('footer') %>

<%- include('script')%>
