<%- include('component/header') %>

<div id="page-wrapper">
    <% if (stage.Stage != 2) { %>
        <div class="alert alert-warning" role="alert" style="text-align: center">You can not check your mark during this
            stage!
        </div>
    <% } else { %>
        <div class="blank-page widget-shadow scroll">
            <h2><b>My Mark</b></h2>
            <br>
            <div class="panel panel-info">
                <!-- Teammate Mark -->
                <div class="panel-heading"><b>Teammate Mark</b></div>
                <table class="table" width="100%">
                    <tr>
                        <th width="90%">Description</th>
                        <th width="10%">Mark</th>
                    </tr>
                    <tr>
                        <td>Teammate mark for your contribution</td>
                        <td>
                            <% if (student.Mark.length == 0) { %>
                                None
                            <% } else { %>
                                <% let m = 0; %>
                                <% for (let i = 0; i < student.Mark.length; i++) { %>
                                    <% m = m + student.Mark[i]; %>
                                <% } %>
                                <%= (m / student.Mark.length).toFixed(2) %>
                            <% } %>
                        </td>
                    </tr>

                </table>
            </div>
            <br>
            <!-- Staff Mark -->
            <% if (team.StaffMark.length == 0) { %>
                <div class="alert alert-warning" role="alert" style="text-align: center">Supervisor haven't mark
                </div>
            <% } else { %>
            <div class="panel panel-info">
                <!-- Default panel contents -->
                <div class="panel-heading"><b>Supervisor Mark</b></div>

                <!-- Table -->
                <table class="table">
                    <tr>
                        <th width="20%">Description</th>
                        <th width="20%">Detail</th>
                        <th width="50">Reason</th>
                        <th width="10%">Mark</th>
                    </tr>
                    <tr>
                        <th>Team performance (35%)</th>
                    </tr>
                    <tr>
                        <td rowspan="3">Management (15)</td>
                        <td>Team Organisation</td>
                        <td><%= team.StaffMarkReason[0] %></td>
                        <td><%= team.StaffMark[0] + " / 5" %></td>
                    </tr>
                    <tr>
                        <td>Progress with implementation</td>
                        <td><%= team.StaffMarkReason[1] %></td>
                        <td><%= team.StaffMark[1] + " / 5" %></td>
                    </tr>
                    <tr>
                        <td>Key documents</td>
                        <td><%= team.StaffMarkReason[2] %></td>
                        <td><%= team.StaffMark[2] + " / 5" %></td>
                    </tr>
                    <tr>
                        <td rowspan="2">Testing (10)</td>
                        <td>Unit tests</td>
                        <td><%= team.StaffMarkReason[3] %></td>
                        <td><%= team.StaffMark[3] + " / 5" %></td>
                    </tr>
                    <tr>
                        <td>System tests</td>
                        <td><%= team.StaffMarkReason[4] %></td>
                        <td><%= team.StaffMark[4] + " / 5" %></td>
                    </tr>
                    <tr>
                        <td>QA (5)</td>
                        <td>u spot problems with the code of another team</td>
                        <td><%= team.StaffMarkReason[5] %></td>
                        <td><%= team.StaffMark[5] + " / 5" %></td>
                    </tr>
                    <tr>
                        <td>Poster Session (5)</td>
                        <td>Final presentation</td>
                        <td><%= team.StaffMarkReason[6] %></td>
                        <td><%= team.StaffMark[6] + " / 5" %></td>
                    </tr>
                    <tr>
                        <th>Individual Performance (15%)</th>
                    </tr>
                    <tr>
                        <td>Personal Evaluation</td>
                        <td>Submitted via MOLE (5)</td>
                        <td><%= student.StaffFeedback[0] %></td>
                        <td><%= student.StaffMark[0] + " / 10" %></td>
                    </tr>
                    <tr>
                        <td>Time Sheets</td>
                        <td>entered on time into epiManage every week (5)</td>
                        <td><%= student.StaffFeedback[1] %></td>
                        <td><%= student.StaffMark[1] + " / 5" %></td>
                    </tr>
                </table>
            </div>
            <br>
                <% } %>

            <% if (team.ClientMark.length == 0) { %>
                <div class="alert alert-warning" role="alert" style="text-align: center">Client haven't mark
                </div>
            <% } else { %>
            <div class="panel panel-info">
                <!-- Default panel contents -->
                <div class="panel-heading"><b>Client Mark</b></div>

                <!-- Table -->
                <table class="table">
                <tr>
                    <th width="20%">Description</th>
                    <th width="20%">Detail</th>
                    <th width="50%">Reason</th>
                    <th width="10%">Mark</th>
                </tr>
                <tr>
                    <td rowspan=>Documentation (15)</td>
                    <td>Appropriate form of documentation</td>
                    <td><%= team.ClientMarkReason[0] %></td>
                    <td><%= team.ClientMark[0] + " / 15" %></td>
                </tr>
                <tr>
                    <td rowspan="2">Team performance (10)</td>
                    <td>Final demonstration</td>
                    <td><%= team.ClientMarkReason[1] %></td>
                    <td><%= team.ClientMark[1] + " / 5" %></td>
                </tr>
                <tr>
                    <td>Communication</td>
                    <td><%= team.ClientMarkReason[2] %></td>
                    <td><%= team.ClientMark[2] + " / 5" %></td>
                </tr>
                <tr>
                    <td rowspan="4">System delivered (20)</td>
                    <td>Ease of use</td>
                    <td><%= team.ClientMarkReason[3] %></td>
                    <td><%= team.ClientMark[3] + " / 5" %></td>
                </tr>
                <tr>
                    <td>Completeness</td>
                    <td><%= team.ClientMarkReason[4] %></td>
                    <td><%= team.ClientMark[4] + " / 5" %></td>
                </tr>
                <tr>
                    <td>Innovation</td>
                    <td><%= team.ClientMarkReason[5] %></td>
                    <td><%= team.ClientMark[5] + " / 5" %></td>
                </tr>
                <tr>
                    <td>Robustness</td>
                    <td><%= team.ClientMarkReason[6] %></td>
                    <td><%= team.ClientMark[6] + " / 5" %></td>
                </tr>
                <tr>
                    <td>Happiness (5)</td>
                    <td>Overall impression of the system</td>
                    <td><%= team.ClientMarkReason[7] %></td>
                    <td><%= team.ClientMark[7] + " / 5" %></td>
                </tr>
                </table>
            </div>
            <% } %>
        </div>
    <% } %>
</div>

<%- include('component/footer') %>
<%- include('component/footer_script') %>
