<%- include('component/header') %>

    <!-- main content start-->

    <div id="page-wrapper">
        <div class="main-page">
            <h2 class="title1">My Project</h2>
            <div class="blank-page widget-shadow scroll">
                <h2><b><%= proposal.Topic%></b></h2>
                <br>
                <table width="100%">
                    <tr>
                        <td width="30%"><P><%= 'Client : ' + proposal.GroupID.StaffID.Name %></P></td>
                        <td width="30%"><p><%= 'Supervisor : ' + proposal.GroupID.StaffID.Name%></p></td>
                    </tr>
                </table>
                <br>
<!--                <div class="col-md-12 panel-grids">-->
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title"> Panel Info</h3>
                        </div>
                        <div class="panel-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin iaculis quam sit amet nisi dictum, in iaculis dolor lobortis. Aenean placerat purus non faucibus sdljflsdjflsdjfojsdofjofjasjdfa us non faucibus sdljflsdjflsdjfojsdofjofjasjdfa.
                        </div>
                    </div>
<!--                </div>-->
            </div>
        </div>
        <br>
        <div class="blank-page widget-shadow scroll">
            <h2><b>Meeting List</b></h2>
            <br>
            <div class="panel panel-info">
                <!-- Default panel contents -->
                <div class="panel-heading"><b>Client Meeting</b></div>
                <div class="panel-body">
                    During this module, you need to regular meeting with your client and gathering requirement by
                        interview your client. For each meeting detail, please see the table below!
                </div>
                <!-- Table -->
                <table class="table">
                    <tr>
                        <th></th>
                        <th>Time</th>
                        <th>Place</th>

                    </tr>
                    <tr>
                        <th>Client Meeting 1</th>
                        <td>01/01/2020 12:00</td>
                        <td>Broad Lane Building LT01</td>

                    </tr>
                    <tr>
                        <th>Client Meeting 2</th>
                        <td>01/01/2020 12:00</td>
                        <td>Broad Lane Building LT01</td>

                    </tr>
                    <tr>
                        <th>Client Meeting 3</th>
                        <td>01/01/2020 12:00</td>
                        <td>Broad Lane Building LT01</td>

                    </tr>
                    <tr>
                        <th>Client Meeting 4</th>
                        <td>01/01/2020 12:00</td>
                        <td>Broad Lane Building LT01</td>

                    </tr>
                    <tr>
                        <th>Client Meeting 5</th>
                        <td>01/01/2020 12:00</td>
                        <td>Broad Lane Building LT01</td>

                    </tr>
                </table>
            </div>

            <br>
            <div class="panel panel-info">
                <!-- Default panel contents -->
                <div class="panel-heading"><b>Supervisor Meeting</b></div>
                <div class="panel-body">
                    <p>During this module, you need to regular meeting with your supervisor and report your progress.
                        For each meeting detail, please see the table below!</p>
                </div>
                <!-- Table -->
                <table class="table">
                    <tr>
                        <th></th>
                        <th>Time</th>
                        <th>Place</th>
                        <th>Supervisor</th>
                    </tr>
                    <tr>
                        <th>Supervisor Meeting 1</th>
                        <td>01/01/2020 12:00</td>
                        <td>Broad Lane Building LT01</td>
                        <td>Emma Norling</td>
                    </tr>
                    <tr>
                        <th>Supervisor Meeting 2</th>
                        <td>01/01/2020 12:00</td>
                        <td>Broad Lane Building LT01</td>
                        <td>Emma Norling</td>
                    </tr>
                    <tr>
                        <th>Supervisor Meeting 3</th>
                        <td>01/01/2020 12:00</td>
                        <td>Broad Lane Building LT01</td>
                        <td>Emma Norling</td>
                    </tr>
                    <tr>
                        <th>Supervisor Meeting 4</th>
                        <td>01/01/2020 12:00</td>
                        <td>Broad Lane Building LT01</td>
                        <td>Emma Norling</td>
                    </tr>
                    <tr>
                        <th>Supervisor Meeting 5</th>
                        <td>01/01/2020 12:00</td>
                        <td>Broad Lane Building LT01</td>
                        <td>Emma Norling</td>
                    </tr>
                </table>
            </div>
        </div>

    </div>


<%- include('component/footer') %>
