<%- include('component/header') %>

<!-- main content start-->

    <div id="page-wrapper">
        <div class="blank-page widget-shadow scroll" style="text-align: center; padding-left: 30%;padding-right: 30%;">
            <h2>COM3420 Software Hut Teammate Preference</h2>
            <p style="color:red">DEADLINE: 3pm 1th February 2020.</p>
            <p>In this module, you will build a project with 3-4 teammate, now you could choose 1 person that you would
                like to work with and 2 persons that you would not like to work with. We try to allocate groups
                according to each person's preferences, but we cannot guarantee that everyone will be satisfied </p>
            <p style="color:red">Optional choose</p>
        </div>
        <br>

        <div class="blank-page widget-shadow scroll">
        <br>
<!--        <div class="blank-page widget-shadow scroll">-->
            <div class="form-group" style="align-items: center; padding-left: 30%; padding-right: 30%">
                <h3>Person you like to work with</h3>
                <select class="form-control" id="person1" style="width: 100%">
                    <option value="None1">None</option>
                    <% for (let i = 0; i < allStudent.length; i++) { %>
                        <% if (!allStudent[i]._id.equals(student._id)) { %>
                            <option value="<%= allStudent[i]._id %>"><%= allStudent[i].Name + ' (' + allStudent[i].UserName + ')'%></option>
                        <% } %>
                    <% } %>
                </select>
            </div>
<!--        </div>-->

        <br>
<!--        <div class="blank-page widget-shadow scroll">-->
            <div class="form-group" style="align-items: center; padding-left: 30%; padding-right: 30%">
                <h3>Person you do not like to work with (1)</h3>
                <select class="form-control" id="person2" style="width: 100%">
                    <option value="None2">None</option>
                    <% for (let i = 0; i < allStudent.length; i++) { %>
                        <% if (!allStudent[i]._id.equals(student._id)) { %>
                            <option value="<%= allStudent[i]._id %>"><%= allStudent[i].Name + ' (' + allStudent[i].UserName + ')'%></option>
                        <% } %>
                    <% } %>
                </select>
            </div>
<!--        </div>-->

        <br>
<!--        <div class="blank-page widget-shadow scroll">-->
            <div class="form-group" style="align-items: center; padding-left: 30%; padding-right: 30%">
                <h3>Person you do not like to work with (2)</h3>
                <select class="form-control" id="person3" style="width: 100%">
                    <option value="None3">None</option>
                    <% for (let i = 0; i < allStudent.length; i++) { %>
                        <% if (!allStudent[i]._id.equals(student._id)) { %>
                            <option value="<%= allStudent[i]._id %>"><%= allStudent[i].Name + ' (' + allStudent[i].UserName + ')'%></option>
                        <% } %>
                    <% } %>
                </select>
            </div>
<!--        </div>-->

        <br>
        <div style="text-align: center">
                <button type="button" class="btn btn-primary" onclick="setPersonPreference()">SUBMIT</button>
        </div>
        </div>
    </div>

<%- include('component/footer') %>
<!-- check and submit people perference -->
<script>
    function setPersonPreference() {
        const person1 = document.getElementById('person1').value;
        const person2 = document.getElementById('person2').value;
        const person3 = document.getElementById('person3').value;
        const myset = new mySet();
        myset.add(person1);
        myset.add(person2);
        myset.add(person3);
        if (myset.size() < 3) {
            alert('Please choose different people for each selector!');
        } else {
            const inputElement1 = document.createElement("input");
            inputElement1.type = 'hidden';
            inputElement1.name = 'person1';
            inputElement1.value = person1;
            const inputElement2 = document.createElement("input");
            inputElement2.type = 'hidden';
            inputElement2.name = 'person2';
            inputElement2.value = person2;
            const inputElement3 = document.createElement("input");
            inputElement3.type = 'hidden';
            inputElement3.name = 'person3';
            inputElement3.value = person3;

            const form = document.createElement("form");
            form.action = '/student/set_people_preference';
            form.method = 'post';
            form.style.display = "none";

            form.appendChild(inputElement1);
            form.appendChild(inputElement2);
            form.appendChild(inputElement3);
            document.body.appendChild(form);
            form.submit();
            return form;
        }
    }
</script>
<!-- check and submit people perference -->
<%- include('component/footer_script') %>
