<%- include('header') %>

		<!-- main content start-->
		<div id="page-wrapper">
			<div class="main-page">
				<div class="blank-page widget-shadow scroll">
					<h3><b><%= qa.Topic %></b></h3>
                    <br><br>
                    <% for (let i = 0; i < qa.Replies.length; i++) { %>
					    <div class="reply-panel widget-shadow scroll">
						    <h4 class="reply-user"><b>#<%= i+1 %></b><span> <%= qa.Replies[i].Author %></span></h4>
						    <br>
						    <p class="reply-content"><%= qa.Replies[i].Comment %></p>
						    <br>
						    <p style="color:gray; font-weight:bold"> Post Time:<%= qa.Replies[i].ReplyDate.toISOString().replace(/T.*/,' ')+qa.Replies[i].ReplyDate.toLocaleTimeString().replace(/ G.*/,"") %></p>
                        </div>
                    <% } %>
					<br><br>
					<form action="discussion_details?id=<%= qa._id %>" method="post">
						<textarea class= "reply-area" name="reply" placeholder="Your Reply" wrap="virtual" required=""></textarea>
						<br><br>
						<button type="submit" class="btn btn-primary sub-reply">Submit</button>
						<div class="clearfix"> </div>
					</form>
                </div>
			</div>
		</div>

<%- include('footer') %>
