<%- include('header') %>

<!-- main content start-->
<div id="page-wrapper">

    <div class="blank-page widget-shadow scroll" >
        <h2 style="text-align: center"><b>Marking - SSIT Team <%= team.TeamName%></b></h2>
        <div class="row" >
            <form class="form-horizontal" method="post">
                <br>
                <h3><b>Team performance</b></h3>
                <br>
                <% for(let i = 0; i < team.StaffMark.length; i++) {%>
                    <br>
                    <div class="form-group" >
                        <label for="selector<%=i%>" class="col-sm-2 control-label"><%= items[i]%></label>
                        <div class="col-sm-8">
                            <p><%= description[i]%></p>
                            <br>
                            <select name="selector1" id="selector1" class="form-control-project" style="width: 100%">
                                <% for(let j = 0; j < scores[i]; j++) { %>
                                    <% if(team.StaffMark[j] != j + 1){%>
                                        <option value="<%= j + 1 %>"><%= j + 1 %> - <%=(scores[i]==5)?criteria5[4-j]:criteria10[9-j]%></option>
                                    <% } else {%>
                                        <option value="<%= j + 1%>"selected><%= j + 1 %> - <%=(scores[i]==5)?criteria5[4-j]:criteria10[9-j]%></option>
                                    <% } %>
                                <% } %>
                            </select>
                            <p>&nbsp</p>
                            <textarea name="t1" id="t1" style="width: 100%; resize: none" rows="3" placeholder="Enter your reason"><%=team.StaffMarkReason[i]%></textarea>
                        </div>
                    </div>
                    <br>
                <% } %>
                <br>
                <h3><b>Individual performance</b></h3>
                <br>
                <% for(let i = 0; i < team.StudentID.length; i++) {%>
                    <h4><b><%= 'Individual performance of ' + team.StudentID[i].Name%></b></h4>
                    <% for(let j = idxIndPerf; j < items.length; j++) {%>
                        <br>
                        <div class="form-group" >
                            <label for="selector<%= (i * (items.length - idxIndPerf) + j) %>" class="col-sm-2 control-label"><%= items[j]%></label>
                            <div class="col-sm-8">
                                <p><%= description[j] %></p>
                                <br>
                                <select name="selector2" id="selector2" class="form-control-project" style="width: 100%">
                                    <% for(let k = 0; k < scores[j]; k++) { %>
                                        <% if(team.StudentID[i].StaffMark[j - idxIndPerf] != k + 1){%>
                                            <option value="<%= k + 1 %>"><%= k + 1 %> - <%=(scores[j]==5)?criteria5[4-k]:criteria10[9-k]%></option>
                                        <% } else {%>
                                            <option value="<%= k + 1%>"selected><%= k + 1 %> - <%=(scores[j]==5)?criteria5[4-k]:criteria10[9-k]%></option>
                                        <% } %>
                                    <% } %>
                                </select>
                                <p>&nbsp</p>
                                <textarea name="t2" id="t2" style="width: 100%; resize: none" rows="3" placeholder="Enter your reason"><%=team.StudentID[i].StaffFeedback[j - idxIndPerf]%></textarea>
                            </div>
                        </div>
                        <br>
                    <% } %>
                <% } %>
                <div style="text-align: center">
                    <input type="submit" class="btn btn-primary" value=" SUBMIT">
                </div>
            </form>
        </div>
    </div>
</div>

<%- include('footer') %>
