<%- include('header') %>

<!-- main content start-->
<div id="page-wrapper">

    <div class="blank-page widget-shadow scroll" >
        <h2 style="text-align: center"><b>Marking - SSIT Team <%= team.TeamName%></b></h2>
        <div class="row" >
            <form class="form-horizontal" method="post">
                <br>
                <h3><b>Team performance</b></h3>
                <br>
                <% for(let i = 0; i < team.StaffMark.length; i++) {%>
                    <br>
                    <div class="form-group" >
                        <label for="selector<%=i%>" class="col-sm-2 control-label"><%= items[i]%></label>
                        <div class="col-sm-8">
                            <p><%= description[i]%></p>
                            <br>
                            <select name="selector<%=i%>" id="selector<%=i%>" class="form-control-project" style="width: 100%">
                                <% for(let j = 0; j < 5; j++) { %>
                                    <% if(team.StaffMark[j] != j + 1){%>
                                        <option value="<%= j + 1 %>"><%= j + 1 %> - Description of criteria</option>
                                    <% } else {%>
                                        <option value="<%= j + 1%>"selected><%= j + 1 %> - Description of criteria</option>
                                    <% } %>
                                <% } %>
                            </select>
                            <p>&nbsp</p>
                            <textarea name="t1" id="t1" style="width: 100%; resize: none" rows="3" placeholder="Enter your reason"> <%=team.StaffMarkReason[i]%> </textarea>
                        </div>
                    </div>
                    <br>
                <% } %>
                <br>
                <h3><b>Individual performance</b></h3>
                <br>
                <div style="text-align: center">
                    <input type="submit" class="btn btn-primary" value=" SUBMIT">
                </div>
            </form>
        </div>
    </div>
</div>

<%- include('footer') %>
