<%- include('header') %>

<!-- main content start-->
<div id="page-wrapper">
    <form class="main-page" method="post" onsubmit="return my_check()">
        <h2 class="title1">Meeting Details</h2>
        <div class="blank-page widget-shadow scroll">
            <h3><b>Meeting <%= meeting.MeetingNumber%></b></h3>
            <br>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title"> Meeting info</h3>
                </div>
                <div class="panel-body">
                    <table>
                        <tr width="500px"><p><b>Client : </b> <%= meeting.GroupID.ProposalID.ClientID.Name %> </p></tr>
                        <tr width="500px"><p><b>Supervisor : </b> <%= meeting.StaffID.Name %> </tr>
                        <tr width="500px"><p><b>Team : </b> <%= meeting.GroupID.TeamName %> </tr>
                        <tr width="500px"><p><b>Date : </b> <%= meeting.Date %> </tr>
                        <tr width="500px"><p><b>Venue : </b> <%= meeting.Place %> </tr>
                    </table>
                </div>
            </div>
        </div>
        <br>
        <h2 class="title1">Meeting Record</h2>
        <div class="blank-page widget-shadow scroll">
            <h3>Presents of Students</h3><br>
            <div>
                <% for(var i=0;i<meeting.GroupID.StudentID.length;i++) {%>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><%= meeting.GroupID.StudentID[i].Name%></label>
                        <div class="col-sm-8">
                            <div class="radio-inline" style="width: 25%"><label><input id="present" value="1" type="radio"> 1</label></div>
                            <div class="radio-inline" style="width: 25%"><label><input id="present" value="2" type="radio"> 2</label></div>
                            <div class="radio-inline" style="width: 25%"><label><input id="present" value="3" type="radio"> 3</label></div>
                        </div>
                    </div>
                <div class="clearfix"></div>
                <% } %>
            </div>
        </div>
        <br>
        <div class="blank-page widget-shadow scroll">
            <h3>Briefly note what team activities (other than scheduled classes) have taken place since the last facilitator's meeting.
                If anyone was absent from those activities, note it (and the reason for absence, if known).</h3><br>
            <textarea name="t1" id="t1" style="width: 100%; resize: none" rows="3" placeholder="Enter your answer" required><%=record.LastMeetingNote%></textarea>
        </div>
        <br>
        <div class="blank-page widget-shadow scroll">
            <h3>Did the team achieve their plans for the week? If not, why not? </h3>
            <p>(e.g. Illness, unexpected technical difficulties, team member(s) not engaging, client's requirements changed, ...)</p><br>
            <textarea name="t1" id="t1" style="width: 100%; resize: none" rows="3" placeholder="Enter your reason" required><%=record.AchievePlan%></textarea>
        </div>
        <br>
        <div class="blank-page widget-shadow scroll">
            <h3>What changes have been made to the story cards (requirements capture) this week?</h3>
            <p>This question aims to capture the stability of the requirements capture as the weeks progress.
                Ideally, the first two boxes should only be used in the first few weeks, with only minor adjustments (if any) after week 5.</p><br>
            <div class="clearfix"></div>
            <div>
                <div>
                    <%for(var j=0;j<7;j++) { %>
                        <% if(record.Change[j] == true) {%>
                            <div class="radio-inline" style="width: 100%"><label><input type="radio" name="storycard" id="storycard" value="<%=j%>" checked=""><%=changes[j]%></label></div>
                        <% } else {%>
                            <div class="radio-inline" style="width: 100%"><label><input type="radio" name="storycard" id="storycard" value="<%=j%>" ><%=changes[j]%></label></div>
                        <% } %>
                        <% if(j == 6) {%>
                            <textarea name="t1" id="t12" style="width: 100%; resize: none" rows="3" placeholder="Enter your reason"><%=record.ChangeOther%></textarea>
                        <% } %>
                        <div class="clearfix"></div>
                    <% } %>
                </div>
            </div>
        </div>
        <br>
        <div class="blank-page widget-shadow scroll">
            <h3>What is the team's estimate of how complete their requirements capture is? (as a percentage)</h3>
            <p>Don't worry if you think it is accurate or not, this is meant to be a measure of the team's self awareness.
                They may well think that they are at 70% in week 2 but 60% in week 3 despite having captured more requirements.
                Expect this to be a very rough estimate in the first meeting, unless you are seeing them before they see their client,
                in which case they can legitimately answer "0".</p><br>
            <textarea name="t1" id="t1" style="width: 100%; resize: none" rows="3" placeholder="Enter your reason" required><%=record.RequirementCapture%></textarea>
        </div>
        <br>
        <div class="blank-page widget-shadow scroll">
            <h3>Is the team's progress as expected?</h3>
            <p>You will be advised each week what progress is expected. Note any concerns in the "Any other notes" section below</p><br>
            <div class="form-group">
                <div>
                    <%for(var j=0;j<4;j++) { %>
                        <% if(record.TeamProgress == j) {%>
                        <div class="radio-inline" style="width: 100%"><label><input type="radio" name="progress" value="<%=j%>" checked=""><%=teamProgress[j]%></label></div>
                        <% } else {%>
                        <div class="radio-inline" style="width: 100%"><label><input type="radio" name="progress" value="<%=j%>" ><%=teamProgress[j]%></label></div>
                        <% } %>
                        <div class="clearfix"></div>
                    <% } %>
                </div>
            </div>
        </div>
        <br>
        <div class="blank-page widget-shadow scroll">
            <h3>Have timesheets been completed by all team members?</h3>
            <p>All team members should be completing time sheets on epiManage.</p><br>
            <div class="form-group">
                <div>
                    <%for(var j=0;j<3;j++) { %>
                        <% if(record.TimeSheets == j) {%>
                        <div class="radio-inline" style="width: 100%"><label><input type="radio" name="timesheets" value="<%=j%>" checked=""><%=timeSheets[j]%></label></div>
                        <% } else {%>
                        <div class="radio-inline" style="width: 100%"><label><input type="radio" name="timesheets" value="<%=j%>" ><%=timeSheets[j]%></label></div>
                        <% } %>
                        <div class="clearfix"></div>
                    <% } %>
                </div>
            </div>
        </div>
        <br>
        <div class="blank-page widget-shadow scroll">
            <h3>Does the team have a clear plan for the upcoming week's work (including who is responsible for what)?</h3>
            <p>These should be clearly documented in meeting minutes.
                If not, remind the team that they are expected to have at least one formal meeting, which should be minuted, every week.</p><br>
            <div class="form-group">
                <div>
                    <%for(var j=0;j<3;j++) { %>
                        <% if(record.ClearPlan == j) {%>
                            <div class="radio-inline" style="width: 100%"><label ><input type="radio" name="clearPlan" value="<%=j%>" checked=""><%=clearPlan[j]%></label></div>
                        <% } else {%>
                            <div class="radio-inline" style="width: 100%"><label><input type="radio" name="clearPlan" value="<%=j%>"><%=clearPlan[j]%></label></div>
                        <% } %>
                        <div class="clearfix"></div>
                    <% } %>
                </div>
            </div>
        </div>
        <br>
        <div class="blank-page widget-shadow scroll">
            <h3>The dynamics of this team... </h3>
            <p>These should be clearly documented in meeting minutes.
                If not, remind the team that they are expected to have at least one formal meeting, which should be minuted, every week.</p><br>
            <div class="form-group">
                <div>
                    <%for(var j=0;j<3;j++) { %>
                        <% if(record.Dynamics == j) {%>
                            <div class="radio-inline" style="width: 100%"><label><input type="radio" name="dynamics" value="<%=j%>" checked=""><%=dynamics[j]%></label></div>
                        <% } else {%>
                            <div class="radio-inline" style="width: 100%"><label><input type="radio" name="dynamics" value="<%=j%>" ><%=dynamics[j]%></label></div>
                        <% } %>
                        <div class="clearfix"></div>
                    <% } %>
                </div>
            </div>
        </div>
        <br>
        <div class="blank-page widget-shadow scroll">
            <h3>Any other notes</h3><br>
            <textarea name="t1" id="t1" style="width: 100%; resize: none" rows="3" placeholder="Enter your reason"><%=record.AnyOtherNote%></textarea>
            <button type="submit" class="btn btn-default" style="margin-left: 90%" value=" SUBMIT" >Submit</button>
        </div>
    </div>
</form>
</div>


<script type="text/javascript">
    function my_check() {
        var content = document.getElementById("t12").value;
        var obj = document.getElementById("storycard");
        var item = null;
        alert(content);
        return true;
    }
</script>

<%- include('footer') %>
