<%- include('header') %>

<!-- main content start-->
<div id="page-wrapper">
    <div class="main-page">
        <h2 class="title1">Meeting Details</h2>
        <div class="blank-page widget-shadow scroll">
            <h3><b>Meeting <%= meeting.MeetingNumber%></b></h3>
            <br>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title"> Meeting info</h3>
                </div>
                <div class="panel-body">
                    <table>
                        <tr width="500px"><p><b>Client : </b> <%= meeting.GroupID.ProposalID.ClientID.Name %> </p></tr>
                        <tr width="500px"><p><b>Supervisor : </b> <%= meeting.StaffID.Name %> </tr>
                        <tr width="500px"><p><b>SSIT Team : </b> <%= meeting.GroupID.TeamName %> </tr>
                        <tr width="500px"><p><b>Date : </b> <%= meeting.Date.toISOString().replace(/T.*/,' ') + meeting.Date.toLocaleTimeString().replace(/ G.*/,"")%> </tr>
                        <tr width="500px"><p><b>Venue : </b> <%= meeting.Place %> </tr>
                    </table>
                </div>
            </div>
        </div>
        <br>
        <div class="blank-page widget-shadow scroll">
            <h3><b>Change Meeting Details</b></h3>
            <br>
            <% if (meetingModify.length == 0) {%>
                <div class="panel panel-success request-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">This meeting will be held on schedule.</h3>
                    </div>
                </div>
            <% } else { %>
                <%for(var i=0;i<meetingModify.length;i++) {%>
                    <% if (meetingModify[i].Status == "approved"){%>
                        <div class="panel panel-success request-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Request <%=i+1%> has been approved</h3>
                            </div>
                    <% } else { %>
                        <div class="panel panel-warning request-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Request <%=i+1%> has not been approved</h3>
                            </div>
                    <% } %>
                        <div class="panel-body">
                            <table style="width: 90%; margin: auto;">
                                <tr>
                                    <th style = "width: 20%;">Request Sending time</th>
                                    <td style="padding: 0.5em;"><p><%= meetingModify[i].RequestComment.Date.toISOString().replace(/T.*/,' ') + meetingModify[i].RequestComment.Date.toLocaleTimeString().replace(/ G.*/,"")%></p></td>
                                </tr>
                                <tr>
                                    <th style = "width: 20%;">Date</th>
                                    <% if(meetingModify[i].NewMeetingTime == null) { %>
                                        <td style="padding: 0.5em;"><p>Time hasn't been changed</p></td>
                                    <%} else {%>
                                        <td style="padding: 0.5em;"><p><%= meeting.Date.toISOString().replace(/T.*/,' ') + meeting.Date.toLocaleTimeString().replace(/ G.*/,"")%> → <%= meetingModify[i].NewMeetingTime.toISOString().replace(/T.*/,' ') + meetingModify[0].NewMeetingTime.toLocaleTimeString().replace(/ G.*/,"")%></p></td>
                                    <% } %>
                                </tr>
                                <tr>
                                    <th style = "width: 20%;">Supervisor</th>
                                    <% if(meetingModify[i].NewStaffID == null) { %>
                                        <td style="padding: 0.5em;"><p>Staff hasn't been changed</p></td>
                                    <%} else {%>
                                        <td style="padding: 0.5em;"><p><%= meetingModify[i].StaffID.Name%> → <%= meetingModify[i].NewStaffID.Name%></p></td>
                                    <% } %>
                                </tr>
                                <tr>
                                    <th style = "width: 20%;">Reason</th>
                                    <td style="padding: 0.5em;"><p><%= meetingModify[i].RequestComment.Content%></p></td>
                                </tr>
                                <tr>
                                    <th style = "width: 20%;">Reply from admin</th>
                                    <% if(meetingModify[i].AdminReply.Content == null) {%>
                                        <td style="padding: 0.5em;"><p>No reply</p></td>
                                    <% } else { %>
                                        <td style="padding: 0.5em;"><p> <%= meetingModify[i].AdminReply.Content%></p></td>
                                    <% } %>
                                </tr>
                                <tr>
                                    <th style = "width: 20%;">Status</th>
                                    <td style="padding: 0.5em;"><p> <%= meetingModify[i].Status%></p></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                <% } %>
                            <br>
            <% } %>
            <div class="form-group row1 blank-page widget-shadow scroll" >
                <form onsubmit="return my_check()" method="post">
                    <table style="width: 90%; margin: auto;">
                        <tr>
                            <th style = "width: 15%;">Change Date</th>
                            <td style="padding: 0.5em;"><input id = "timechange" name="timechange" type="datetime-local" style="width: 30%" value=nowtime></td>
                        </tr>
                        <tr>
                            <th style = "width: 15%;">Change Supervisor</th>
                            <td style="padding: 0.5em;">
                                <select id ="staffchange" name="staffchange" class="form-control" style="width: 30%">
                                    <option value = '0' selected> - </option>
                                    <% for(var i=0;i<stafflist.length;i++) { %>
                                        <%if(stafflist[i].id == nowstaff.id ) {%>

                                        <% } else {%>
                                            <option><%= stafflist[i].Name%></option>
                                        <% } %>
                                    <% } %>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th style = "width: 15%;">Reason</th>
                            <td style="padding: 0.5em;">
                                <textarea name="changereason" class= "input-reply-area" placeholder="Change timetable reason" wrap="virtual" style="width: 80%; height: 6.0em; resize: none;"></textarea>
                            </td>
                        </tr>
                    </table>
                    <button type="submit" class="btn btn-primary" style="margin-left: 90%" value=" SUBMIT" >Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function my_check() {
        var time = document.getElementById("timechange").value;
        var staff = document.getElementById("staffchange").value;
        if(staff == 0 && time == ''){
            alert("time and staff can't both be empty");
            return false;
        }
        var nowtime1 = new Date();
        var nowtime2 = new Date(time);
        if(nowtime1 > nowtime2)
        {
            alert('Invalid meeting time');
            return false;
        }
        return true;
    }
</script>

<%- include('footer') %>
