<%- include('header') %>

    <!-- main content start-->
    <div id="page-wrapper">
        <div class="main-page">
            <div class="blank-page widget-shadow scroll">
                <h2><b>My Projects</b></h2>
                <% if (allTeams.length == Number(0)) { %>
                    <br>
                    <div class="alert alert-danger" role="alert">You do not have project currently!</div>
                <% } else { %>
                    <% for(let i = 0; i < allTeams.length; i++) {%>
                        <div class="grid_3 grid_5 widget-shadow" style="cursor:pointer" onclick="window.location.href = 'project_detail?seq=<%=i%>'">
                            <h3 class="project-name" >
                                <b>
                                    <% if (allTeams[i].ProposalID === undefined) { %>
                                        Project has not been allocated
                                    <% } else { %>
                                        <%= allTeams[i].ProposalID.Topic %>
                                    <% } %>
                                </b>
                                <span class="label label-success" style="float:right;font-size:15px">Ongoing</span>
                            </h3>
                            <table style="width: 100%; margin-top:1.5em; margin-bottom: 1.5em;">
                                <tr>
                                    <td style="width: 25%;">
                                        <b>Client:</b>
                                        <% if (allTeams[i].ProposalID === undefined) { %>
                                            N/A
                                        <% } else { %>
                                            <%= allTeams[i].ProposalID.ClientID.Name %>
                                        <% } %>    
                                    </td>
                                    <td style="width: 75%;">
                                        <b>Member:</b> 
                                        <%= groupMember[i] %>                         
                                    </td>
                                </tr>
                            </table>
                            <p>
                                <b>Background:</b>
                                <% if (allTeams[i].ProposalID === undefined) { %>
                                    N/A
                                <% } else { %>
                                    <% 
                                        const textLimit = 180;
                                        let background =  allTeams[i].ProposalID.Content;
                                        if(background.length >= textLimit) {
                                            background = background.substring(0,textLimit) + '...';
                                        }
                                    %>
                                    <%= background %>
                                <% } %>    

                                <i class="fa fa-angle-right" style="float:right;font-size:20px"></i>
                            </p>
                        </div>
                     <% } %>
                <% } %>
            </div>
        </div>
    </div>

<%- include('footer') %>
