<%- include('header') %>

<!-- main content start-->
<div id="page-wrapper">
    <div class="main-page">
        <h2 class="title1">My Project</h2>
        <div class="blank-page widget-shadow scroll">
            <h3><%= team.ProposalID.Topic%></h3>
            <table width="100%">
                <tr>
                    <td width="30%"><P><b>Client : </b><%= team.ProposalID.ClientID.Name%></P></td>
                    <td width="30%"><p><b>Supervisor : </b><%= team.StaffID.Name%></p></td>
                    <td width="30%"><p><b>SSIT Team </b> <%= team.TeamName%></p></td>
                </tr>
            </table>
            <p>
                <b>Member : </b>
                <%= teamMemberList%>
            </p>
            <br>
            <!--                <div class="col-md-12 panel-grids">-->
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Project Detail</h3>
                </div>
                <div class="panel-body">
                    <%= team.ProposalID.Content%>
                </div>
            </div>
            <!--                </div>-->
        </div>
    </div>
    <br>
    <div class="blank-page widget-shadow scroll">
        <h2><b>Meeting List</b></h2>
        <br>
        <br>
        <div class="panel panel-info">
            <!-- Default panel contents -->
            <div class="panel-heading"><b>Meeting</b></div>
            <!-- Table -->
            <table class="table">
                <tr>
                    <th></th>
                    <th>Time</th>
                    <th>Place</th>
                    <th>Supervisor</th>
                </tr>
                <% for(var i=0;i<allmeeting.length;i++) { %>
                    <%if(allmeeting[i].Date>nowtime) { %>
                        <tr class="clickable-row" data-href="meeting_detail_pre?seq=<%=team.StaffMeetingID[i]._id%>" style="cursor: pointer">
                            <th>Meeting <%=i+1%></th>
                            <td><%= team.StaffMeetingID[i].Date.toISOString().replace(/T.*/,' ') + team.StaffMeetingID[i].Date.toLocaleTimeString().replace(/ G.*/,"")%></td>
                            <td><%= team.StaffMeetingID[i].Place%></td>
                            <% if(team.StaffMeetingID[i].TemporaryStaffID == null) { %>
                                <td><%= team.StaffMeetingID[i].StaffID.Name%></td>
                            <% } else { %>
                                <td><%= team.StaffMeetingID[i].TemporaryStaffID.Name%></td>
                            <% } %>
                        </tr>
                    <% } else { %>
                        <tr class="clickable-row" data-href="meeting_detail_post?seq=<%=team.StaffMeetingID[i]._id%>" style="cursor: pointer">
                            <th>Meeting <%=i+1%></th>
                            <td><%= team.StaffMeetingID[i].Date.toISOString().replace(/T.*/,' ') + team.StaffMeetingID[i].Date.toLocaleTimeString().replace(/ G.*/,"")%></td>
                            <td><%= team.StaffMeetingID[i].Place%></td>
                            <% if(team.StaffMeetingID[i].TemporaryStaffID == null) { %>
                                <td><%= team.StaffMeetingID[i].StaffID.Name%></td>
                            <% } else  {%>
                                <td><%= team.StaffMeetingID[i].TemporaryStaffID.Name%></td>
                            <% } %>
                        </tr>
                    <% } %>
                <% } %>
            </table>
        </div>
    </div>
    <br>
    <%if(stage.Stage == 2) {%>
        <div class="blank-page widget-shadow scroll">
            <h3><b>Mark For This Team</b><button type="submit" class="btn btn-primary clickable-row" data-href="marking?seq=<%=teamseq%>&id=<%=team._id%>" style="float: right">Mark</button></h3>
    <% } %>
    </div>
</div>

<script>

</script>

<%- include('footer') %>
